[2021-04-29 07:50] sdeleuze opened #1 "Change Gradle plugin name to org.graalvm.nativeimage"
Currently the the plugin declaration is `id 'native-image-gradle-plugin' version "${insert_plugin_version}"` I think it should be id `'native-image' version "${insert_plugin_version}"` that would be more consistent with other plugins.

[2021-04-29 07:53] sdeleuze opened #2 "Make main class optional in the Gradle plugin"
Main class can be specified via `-H:Class` in `native-image.properties` as of GraalVM 21.1.0 ([Spring Native does that](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot/src/main/java/org/springframework/aot/nativex/ConfigurationContributor.java#L63)), so main class should be optional in the Gradle plugin, like in the Maven one.

[2021-04-29 07:55] sdeleuze opened #3 "Move junit-platform-native-feature to native-image-build-tools"
[`junit-platform-native-feature`](https://github.com/graalvm/native-image-configuration/tree/main/junit-platform-native/junit-platform-native-feature) is tightly linked to the testing support for Maven/Gradle plugin so it should live in this repository not in https://github.com/graalvm/native-image-configuration.

[2021-04-29 08:00] sdeleuze opened #4 "Make Gradle plugin configuration consistent with the Maven one"
For consistency with the Maven plugin, for example `main` should be renamed to `mainClass`. Please check other configuration options are consistent as well.

[2021-04-29 08:20] sdeleuze opened #5 "Make Maven and Gradle plugin versions consistent"
Gradle plugin version is `0.9.0-SNAPSHOT`, Maven one is `21.0.0.2`. We should IMO make those versions consistent and use snapshots for both.

Since `native-image-build-tools` is in a separated repo than GraalVM and fairly decoupled from `native-image` implementation, I would be for using different versions. That would decouple lifecycle for both projects, avoid to have to release artificially `nat

[2021-04-30 01:17] #4 closed, assigned to lazar-mitrovic

[2021-04-30 01:17] #2 closed, assigned to lazar-mitrovic

[2021-05-04 14:47] sdeleuze opened #7 "Rename native-image mojo name to build"
`@Mojo(name = "native-image", defaultPhase = LifecyclePhase.PACKAGE)` -> `@Mojo(name = "build", defaultPhase = LifecyclePhase.PACKAGE)`.

With the introduction of testing capabilities and for consistency between Maven and Gradle plugins, I think it is better to have `native-image:build` than `native-image:native-image`.

[2021-05-06 14:42] sdeleuze opened #8 "Remove explicit configuration of the discovery mode"
Unless I am mistaken, we have removed such mode, so it should be removed from Gradle documentation, error messages, etc. `TestMode` class and `mode` configuration can probably be removed as well.

[2021-05-06 15:51] sdeleuze opened #9 "nativeTest should depend on test in the Gradle plugin"
Since its exectution is now mandatory.

[2021-05-06 16:35] sdeleuze opened #10 "Add testing capabilities to Maven plugin"

[2021-05-07 12:50] sdeleuze opened #12 "Use arguments instead of system properties for testDiscovery and debug"
I don't see what prevents to use arguments instead of system properties for `testDiscovery` and `debug` in the JUnit native support, which would be more clean and discoverable IMO.

[2021-05-07 13:20] #12 closed, assigned to lazar-mitrovic

[2021-05-10 15:50] sdeleuze opened #13 "Add agent support to the Maven plugin"
For both building and testing support, see related `agent` and `persistConfig` Gradle plugin properties.

[2021-05-19 13:33] lazar-mitrovic opened #15 "native-image-maven-plugin ignores finalName property"
https://github.com/oracle/graal/issues/3275

[2021-05-24 14:27] #3 closed, assigned to sdeleuze

[2021-05-24 14:27] #1 closed, assigned to sdeleuze

[2021-05-24 14:27] #7 closed, assigned to nobody

[2021-05-24 14:27] #8 closed, assigned to sdeleuze

[2021-05-24 14:27] #9 closed, assigned to sdeleuze

[2021-05-24 14:27] #10 closed, assigned to sdeleuze

[2021-05-28 15:48] #15 closed, assigned to nobody

[2021-06-01 09:33] sdeleuze opened #16 "Fix incompatibility with Gradle 7.x"
If I upgrade the wrapper of the Gradle example to use Gradle 7.0, it fails with the following error:

[code]

[2021-06-01 09:43] sdeleuze opened #17 "Gradle nativeBuild task should depends on build"
Like `nativeTest` depends on `test`.

[2021-06-01 13:44] sdeleuze opened #18 "Gradle plugin: Use project name for the image name by default"
That would be consistent with Maven, and the default most users expect, currently it is `application`.

[2021-06-01 13:45] sdeleuze opened #19 "Gradle plugin : add a Kotlin DSL example and document it"
Syntax like `imageName.set("webmvc-kotlin")` is not obvious so it needs to be documented.

[2021-06-01 15:04] sdeleuze opened #20 "Gradle plugin : rename nativeImage configuration block to nativeBuild"
More consistent and communicate the fact that there is not inheritance between `nativeBuild` and `nativeTest`.

[2021-06-01 20:41] #5 closed, assigned to sdeleuze

[2021-06-01 20:41] #16 closed, assigned to lazar-mitrovic

[2021-06-01 20:41] #17 closed, assigned to lazar-mitrovic

[2021-06-01 20:41] #18 closed, assigned to nobody

[2021-06-01 20:41] #19 closed, assigned to nobody

[2021-06-01 20:41] #20 closed, assigned to lazar-mitrovic

[2021-06-02 15:05] sdeleuze opened #22 "Error when importing Gradle example in IntelliJ IDEA"
I got this error even after selecting a GraalVM installation as the JDK using by IDEA:

[code]

We should maybe try to be lenient when configuring Gradle, some users will have a regular JDK configured in the IDEA and will use GraalVM native image only on command line when building the native image. That would also be consistent with the Maven plugin.

[2021-06-03 23:46] #22 closed, assigned to nobody

[2021-06-04 06:34] sdeleuze opened #24 "Rename the repository to native-build-tools"
For consistency.

[2021-06-04 07:30] sdeleuze opened #25 "Rename junit-platform-native groupId to org.graalvm.buildtools"
Here https://github.com/graalvm/native-image-build-tools/blob/master/common/junit-platform-native/build.gradle#L42.

[2021-06-04 09:43] sdeleuze opened #26 "Configure full reflection on test classes"
Some JUnit features like `@TempDir` require field reflection, but the feature [does not configure it](https://github.com/graalvm/native-image-build-tools/blob/master/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/JUnitPlatformFeature.java#L164).

I am also not sure where test method reflection is configured since only `RuntimeReflection.registerForReflectiveInstantiation` se

[2021-06-04 09:56] sdeleuze opened #27 "Maven plugin : Use artifactId instead of main class name for the default exectutable name"
That's sounds more logical to me, and we need to be consistent between Maven and Gradle plugins.

[2021-06-04 09:59] #24 closed, assigned to lazar-mitrovic

[2021-06-04 17:17] #25 closed, assigned to lazar-mitrovic

[2021-06-04 17:17] #26 closed, assigned to lazar-mitrovic

[2021-06-04 17:17] #27 closed, assigned to lazar-mitrovic

[2021-06-07 10:18] sdeleuze opened #29 "Skip building native-tests when there are no test"
On Maven and Gradle in order to avoid compiling something useless.

In my use case, `test_ids.txt` just contains:
[code]

[2021-06-07 13:31] sdeleuze opened #30 "Update version to 1.0.0-SNAPSHOT"
As discussed, the version should be changed to `1.0.0-SNAPSHOT` on `master` and `1.0.0-M1` should be used in upcoming release.

[2021-06-07 23:40] #29 closed, assigned to nobody

[2021-06-07 23:40] #30 closed, assigned to nobody

[2021-06-08 13:27] sdeleuze opened #32 "Move output directories to target/native and build/native"
For consistency and predictability.

[2021-06-08 21:09] #32 closed, assigned to lazar-mitrovic

[2021-06-09 08:02] sdeleuze opened #36 "Document Maven native profile"
I think it is important to provide guidance for users, and advise them to use a `native` profile since the native plugin predates `test` and `package` phases with long native builds, and that important to still allow doing easily regular JVM tests and build. Also proposing a profile name is a way to standardize it.

So in https://github.com/graalvm/native-build-tools/tree/master/native-maven-plugi

[2021-06-09 08:07] sdeleuze opened #37 "Use test-native and build-native execution ids"
In the Maven plugin documentation and sample, our Maven expert suggest to use `test-native` and `build-native` execution ids. Also probably better to define `test-native` before `build-native`.

So in https://github.com/graalvm/native-build-tools/tree/master/native-maven-plugin#usage the code snippets would look like:

[code]

[2021-06-09 09:35] sdeleuze opened #38 "Maven plugin : move back the application executable to target"
After discussing with our Maven expert, it is what Maven convention expect (different from Gradle world). So the application executable should be moved back to `target` instead of `target/native`. Other files can stay in `native` for now.

It will also introduce less differences compared to current plugin.

[2021-06-09 14:24] #36 closed, assigned to lazar-mitrovic

[2021-06-09 14:24] #37 closed, assigned to lazar-mitrovic

[2021-06-09 14:24] #38 closed, assigned to lazar-mitrovic

[2021-06-14 16:33] michael-simons opened #44 "Gradle support for agent does not work."
Running

[code]

followed by

[code]

does not work but ends with

[code]

even though native files are generated:

[code]

however the plugin tries to resolve https://github.com/graalvm/native-build-tools/blob/a28d187f43446493fcba78c7e372cd3bd31e3004/native-gradle-plugin/src/main/java/org/graalvm/buildtools/Utils.java#L61 with

https://github.com/graalvm/native-build-tools/blob/a28d187f43446493fc

[2021-06-14 16:34] michael-simons opened #45 "`@Nested` test classes are not supported."
First of all: Big kudos for a project.

I was eager to try this out on https://github.com/neo4j-contrib/cypher-dsl. We do have a lot of `@Nested` classes, however.

Changing the `App2Test` class in your example code like this

[code]

will fail in Maven `mvn -Pnative test` with

[code]

The same result will happen with the Gradle project, even when the agent is used (with a workaround specified in

[2021-06-15 15:13] #45 closed

[2021-06-15 15:52] sbrannen opened #48 "Introduce automated tests for the Gradle and Maven plugins"
In order to avoid bugs such as #44, the native build tools project should introduce automated tests for the Gradle and Maven plugins.

This can be achieved in various ways.

For Gradle, one option may be to use the [Gradle TestKit](https://docs.gradle.org/current/userguide/test_kit.html).

Another option is the approach taken by the JUnit team in the [platform-tooling-support-tests](https://github

[2021-06-15 15:52] gradinac commented on #45
Hey @michael-simons! This should now be fixed on master, I'll post a comment here once a new version of the plugin is out - it would be great if you could test it out once it's released :)

[2021-06-15 15:58] lazar-mitrovic commented on #48
We are already doing a similar thing [here](https://github.com/graalvm/native-build-tools/blob/4aff5ee1c3cfdcaf16084658c442c0691c58a2c7/.github/workflows/native-gradle-plugin.yml#L48-L55), so easiest fix might be to populate `examples` directory with multiple examples for each supported build tool.

[2021-06-15 16:05] sbrannen commented on #48
Does that actually perform some form of verification of the results (assertions, etc.)? If so, what is the error reporting like?

Or does it just _run_ something and hope there's no bad exit code of the executed command?

[2021-06-15 17:43] #44 closed

[2021-06-15 18:16] AlSherif opened #49 "Windows 10: native-maven-plugin:0.9.0 looks for JAVA_HOME\lib\svm\bin\native-image.exe but it's actually in JAVA_HOME\jre\lib\svm\bin"
`mvn -Pnative package -DskipTests`

fails with:
[code]

I assume that it is looking for `C:\tools\graalvm-ce-java8-21.1.0\jre\lib\svm\bin\native-image.exe`.

Before I was using `org.graalvm.nativeimage:native-image-maven-plugin` and it worked fine.

[2021-06-15 18:37] michael-simons commented on #45
I can confirm that `@Nested` now works with 0.9.1-SNAPSHOT. This is great, thank you!

[2021-06-15 18:47] michael-simons opened #50 "`@ParameterizedTest` with `@EnumSource` are not supported."
A parameterized tests with an `@EnumSource` like this

[code]

fails with

[code]

Applies to 0.9.0 and 0.9.1-SNAPSHOT, tested with GraalVM 21.1.0 JDK 11 in the Maven examples project.

[2021-06-15 18:53] michael-simons opened #51 "`@ParameterizedTest` with `@MethodSource` are not supported."
A parameterized tests with an `@MethodSource` like this

[code]

fails with

[code]

Applies to 0.9.0 and 0.9.1-SNAPSHOT, tested with GraalVM 21.1.0 JDK 11 in the Maven examples project.

[2021-06-15 19:42] mmoayyed opened #52 "java.lang.IllegalArgumentException: 'other' is different type of Path"
Using:

- Gradle 7.1
- Java(TM) SE Runtime Environment GraalVM EE 21.1.0 (build 11.0.11+9-LTS-jvmci-21.1-b05)
- MacOS 11.4

Plugin versions:

[code]

Plugin configuration:

[code]

Running:

[code]

The following trace shows up:

[code]

I can provide a sample project, if you find that useful.

[2021-06-15 19:49] dzou opened #53 "Support for Compatibility with JUnit 4?"
Many thanks for this great project.

I wanted to ask about `junit-platform-native`: Is there future plans to make this compatible with JUnit4 running tests via `junit-vintage-engine`?

[2021-06-16 09:03] sbrannen commented on #50
As a workaround, running native tests with the `agent` enabled should hopefully pick up this use of reflection, but (unless I'm mistaken) that's currently not an option with Maven.

Another workaround is to manually add the necessary reflection config for the JUnit Jupiter types that are loaded via reflection.

In general, all `org.junit.jupiter.params.provider.ArgumentsProvider` [implementations]

[2021-06-16 09:04] sbrannen commented on #51
This is closely related to #50.

See https://github.com/graalvm/native-build-tools/issues/50#issuecomment-862186948 for an explanation.

[2021-06-16 09:08] michael-simons commented on #13
Yes please. I see a lot of potential to solve reflection based issues in assertions via AssertJ `extract` and possibly others, which will only be a problem in test code.

In addition it would cater for JUnit constructs that require reflection, without the user having to cater for them.

[2021-06-16 09:09] sbrannen commented on #13
See related discussion in https://github.com/graalvm/native-build-tools/issues/50#issuecomment-862186948.

[2021-06-16 09:15] sbrannen commented on #53
The initial goal is support for the JUnit Platform in general, with specific support for JUnit Jupiter.

However, some preliminary work has been done to provide built-in support for JUnit Vintage:

https://github.com/graalvm/native-build-tools/blob/acf14743521e01260155825ab2e2e5cc55905ea5/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/JUnitPlatformFeature.java#L94-L95

If yo

[2021-06-16 09:33] sbrannen opened #54 "Configure types referenced via `@ExtendWith`, `@ArgumentsSource`, etc. for reflection"
## Overview

As discussed in https://github.com/graalvm/native-build-tools/issues/50#issuecomment-862186948, the `JUnitPlatformFeature` currently has hard-coded reflection config for JUnit Jupiter's `CsvArgumentsProvider`, but as we see from #50 and #51 the `JUnitPlatformFeature` would at the very least need to configure *all* `junit-jupiter-params` `ArgumentProvider` implementations for reflectiv

[2021-06-16 09:37] sbrannen commented on #51
See also #54

[2021-06-16 10:21] sbrannen commented on #54
I took another look at candidate annotations for this support and discovered I'd missed the following: `@TestMethodOrder`, `@DisplayNameGeneration`, `@IndicativeSentencesGeneration`, `@ConvertWith`, `@AggregateWith`.

So I'll update this issue's description accordingly.

[2021-06-16 11:24] gradinac commented on #54
One approach we could take to help support these features is to introduce a new service (`ExtensionConfigProvider`). We would get all available implementations of this service via SPI and call into each implementation at a different point. We could start with two basic callbacks:
[code]
where `ConfigRegistry` would just be an abstraction over `RuntimeReflection` to decouple these from native-image

[2021-06-16 14:23] geqilong commented on #49
set JAVA_HOME=C:/tools/graalvm-ce-java8-21.1.0/jre before run "mvn -Pnative package -DskipTests"
The problem probably lies in "org.graalvm.buildtools.Utils#getNativeImage".

[2021-06-16 18:20] ArjanSchouten opened #55 "Duplicate warnings after consecutive generateAot gradle task"
Every time I execute the `./gradlew clean test` task on a project with native-gradle-plugin, I get more and more log output.

**Reproduction**
1. Download: https://start.spring.io/#!type=gradle-project&language=java&platformVersion=2.5.1.RELEASE&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&de

[2021-06-16 18:28] dzou commented on #53
I see, thanks for the clarification. I'll give running the JUnit4 tests a try and followup in this thread what configurations I used if I'm able to get it working.

[2021-06-16 22:17] jarpz commented on #44
Hi, Im getting the same error with 0.9.0 version

[code]

My config:
[code]

The folder src/main/resources/META-INF/native-image is already created.

Its just works when we add the unexisting folder build/native/agent-output/test

is there a workaround?

[2021-06-17 09:09] gradinac commented on #44
Hey @jarpz! As a workaround for 0.9, could you try the running the tests like this:
[code]

[2021-06-17 12:40] sbrannen commented on #54
I've been saying for about 6 months now that we will eventually need an extension/plugin mechanism for `TestEngine` implementers so that they can provide their own configuration (or so that a third-party can implement the extension/plugin for them).

So, I am glad you came to the same conclusion! 😄

As for what the extension/plugin SPI is called, let's hold off on deciding on concrete name until w

[2021-06-17 12:45] sbrannen commented on #54
For the time being, the `native-build-tools` project will play the role of such a "third-party". This will allow us to experiment with the SPI, use it ourselves, and improve it before potentially asking `TestEngine` implementers to take over the plugins/extensions.

Implementing this mechanism will also allow us to greatly simplify the `JUnitPlatformFeature`. Ideally, the feature's `duringSetup` a

[2021-06-17 14:49] gradinac commented on #54
It really seems like the best tool for this purpose :)
I completely agree about the naming - I just picked these as an example - we will be able to change them later on.

As soon as I get a chance, I'll put together an initial implementation on which we can discuss more - I also agree that something like this should at first be used only internally by us and potentially open it up in the future as

[2021-06-17 16:41] jarpz opened #56 "When run -Pagent the reflection-config.json include Test classes"
When run:
[code]

The reflection-config.json includes test classes, Is there any way to "filter" those classes in the generated file?.

I saw an "agent-filter.json" but there is not documentation about it.

Regards

[2021-06-17 16:58] jarpz commented on #44
We got this:
[code]

I know we can customize the build but the problem is in the reflection-config.json, which are been including tests classes.

Is that right?

[2021-06-17 21:05] ScottPierce opened #57 "Support Kotlin Tests"
The native tests only seem to run when explicitly using `org.junit.jupiter.api.Test` annotations. Kotlin provides a testing library that has it's own test annotations: `kotlin.test.Test`, which is just a typealias for junit test annotation, which means when the code is compiled, the compiler swaps in `org.junit.jupiter.api.Test` in placce of `kotlin.test.Test`:
[code]

However, if I use `kotlin.te

[2021-06-17 21:43] ScottPierce commented on #56
Does it matter if it includes reflection information for classes that are not actually compiled into the application?

[2021-06-17 21:58] ScottPierce opened #58 "nativeTest Doesn't look to the right directory for the generated agent files"
It appears that running `./gradlew -Pagent :example:test` generates files to the `project-root/example/build/native/agent-output/test` directory.

<img width="282" alt="Screen Shot 2021-06-17 at 5 56 40 PM" src="https://user-images.githubusercontent.com/871169/122477256-6fefdf00-cf95-11eb-98c6-df834785a33c.png">

But when I run `./gradlew -Pagent :example:nativeTest` it gives me the following erro

[2021-06-17 23:49] jarpz commented on #58
IF you run as: ```gradle -Pagent test -DpersistConfig ``` it will put the files over src/test/resources/META-INF/native-image

Also this error is already reported over #44

[2021-06-17 23:54] jarpz commented on #56
Yeah, native image generation fails because in the classpath those classes are not present. So you have to add the
[code]

[2021-06-18 04:15] ScottPierce commented on #58
Thanks jarpz. That appears to work.

[2021-06-18 04:15] #58 closed

[2021-06-18 14:58] gradinac commented on #52
Hey @mmoayyed, thank you for the bug report!
Looking at the stack trace, this seems to be a bug in a GraalVM EE feature unrelated to the build tools:
[code]
Could you try building your application manually, without the plugin and see if this still happens?
If you could provide a sample reproducer, that would help a lot! :)

[2021-06-18 15:03] mmoayyed commented on #52
Here is a reproducer:
[Archive.zip](https://github.com/graalvm/native-build-tools/files/6677850/Archive.zip)

Unzip and build with `./gradlew nativeBuild -x test -x check`

And yes, the application builds just fine without the plugin.

Thank you.

[2021-06-18 16:25] gradinac commented on #52
Thank you for the reproducer! I've managed to reproduce this on 21.1 - the culprit seems to have been a bug in an EE feature that has subsequently been fixed. The core reason for the bug is that the `gradle` plugin overrides the `-H:Path` argument with a non-absolute one, resulting in the above error.
The bug has already been fixed on GraalVM EE `master`, however, running the build (both with EE a

[2021-06-18 17:26] mmoayyed commented on #52
Thanks much for the analysis. I suppose I have to wait until GraalVM EE issues a patch or a release comes out, which is no problem at all.

The error you note above is likely something to take up with the spring-native projects. I can look into it more once the GraalVM release comes out.

[2021-06-18 17:39] gradinac commented on #52
Sounds good! I think we will have a release soon, but in case you want to try it out beforehand on a CE build, we have CE dev builds available here: https://github.com/graalvm/graalvm-ce-dev-builds/releases
Unfortunately, due to the way the gradle plugin currently adds the `-H:Path` argument, I don't think there's an easy workaround to get past that step in the current plugin version

[2021-06-18 17:53] ScottPierce opened #61 "0.9.0 - Could not create task of type 'NativeBuildTask'."
I'm using version 0.9.0 of this pluigin, and I've tried with Gradle 7.0.2 and 7.1.0. Both yield the following error:

[code]

[2021-06-18 22:32] lazar-mitrovic commented on #61
`AbstractProperty.calculatePresence` seems to be recursively invoked, however - as far as I see - none of the provided stack traces originates from this project.

I believe that this might be impossible to debug without a reproducer.

[2021-06-18 22:41] lazar-mitrovic commented on #56
You can use
`gradle -Pagent run`
if you want to generate agent output for `main` source set.

Filtering of classes which are detected during agent run is done using [agent-filter files](https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/#agent-advanced-usage). Advanced configuration of native-image-agent isn't (at the moment) exposed to the end-user trough our plugins (you co

[2021-06-19 01:18] ScottPierce commented on #61
Seems like it's an issue that's happening in IntelliJ. The command line seems happy. Here is the script that I have that it's happening with:

[code]

[2021-06-19 01:27] #61 closed

[2021-06-19 01:28] ScottPierce commented on #61
EDIT: I found the problem:

[code]

`mainClass` was actually an externally defined variable that I set in the parent scope. I was calling `mainClass.set` and then giving it an instance of itself. User error.

[2021-06-19 04:29] ScottPierce opened #62 "Best way to reference files in native tests?"
What's the best way to reference files in native built tests?

I tried passing in directories as absolute paths via system properties, but that didn't seem to work:
[code]

[code]

Which ends up throwing this when I run my tests:
[code]

What is the correct way to solve this?

[2021-06-19 11:03] lazar-mitrovic commented on #62
`systemProperties` are setting properties for the JVM running the NativeImage. It is explained [here](https://www.graalvm.org/reference-manual/native-image/Properties/), but I believe that we should communicate this better in build plugin documentation.

Proper way to do this would be to use:
[code]

[2021-06-19 11:03] #62 closed

[2021-06-19 15:11] ScottPierce commented on #62
Thanks - That works

[2021-06-19 15:12] ScottPierce commented on #62
I definitely thought based on the javadoc that systemProperties was exactly what I wanted.

[2021-06-21 15:34] #49 closed

[2021-06-22 10:16] gradinac opened #64 "User native-image arguments should override plugin arguments in the gradle plugin"
Currently, our internal native-image arguments override user specified arguments. This should not be the case - user arguments should always have precedence over the arguments we specify.

[2021-06-22 10:17] lazar-mitrovic opened #65 "Wrong error message when agent output is missing (Gradle plugin)"
https://github.com/graalvm/native-build-tools/blob/9120801b346cf0350301d237829aee6f1e8d0e12/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java#L184-L186

These lines assume that user tries to run `nativeTest` even when user tries to invoke `nativeBuild`.

[2021-06-22 10:17] gradinac commented on #52
As we've confirmed the original source of this issue, I'll close this ticket. I've opened #64 to track the problem we've uncovered here - user arguments should always have precedence over our internally specified arguments.

[2021-06-22 10:17] #52 closed

[2021-06-22 10:18] lazar-mitrovic commented on #56
I opened a new issue about fixing this error message: https://github.com/graalvm/native-build-tools/issues/65

[2021-06-22 10:18] #56 closed

[2021-06-22 10:36] lazar-mitrovic commented on #57
Would you mind creating a reproducer for this one?
I'm not too experienced with Kotlin but AFAIK if annotations are truly aliased we should be able to extract them from the bytecode.

My guess would be that this issue is related to the Gradle plugin itself hooking onto Java source sets (that are missing in this case).

[2021-06-22 10:47] lazar-mitrovic opened #66 "`systemProperties` javadoc is not clear enough (Gradle plugin)"
https://github.com/graalvm/native-build-tools/blob/9120801b346cf0350301d237829aee6f1e8d0e12/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java#L445-L452

This javadoc isn't clear enough about the fact that `systemProperties` are passed to `native-image` builder, and not to built image itself. Related issue: https://github.com/graalvm/native-build-tools/iss

[2021-06-22 13:20] lazar-mitrovic opened #67 "Change maven readme/example to use buildArgs with individual tags for each option."
Prevents maven xml parser from breaking native-image arguments with commas.

[2021-06-22 19:45] #66 closed

[2021-06-22 19:46] lazar-mitrovic commented on #65
Fixed by https://github.com/graalvm/native-build-tools/commit/aa4b041655ae1bdceab710fdf093b171c200a5e4

[2021-06-22 19:46] #65 closed

[2021-06-22 19:46] lazar-mitrovic commented on #67
Fixed by https://github.com/graalvm/native-build-tools/commit/aa4b041655ae1bdceab710fdf093b171c200a5e4

[2021-06-22 19:46] lazar-mitrovic commented on #67
Fixed by https://github.com/graalvm/native-build-tools/commit/aa4b041655ae1bdceab710fdf093b171c200a5e4

[2021-06-22 19:46] #67 closed

[2021-06-22 19:47] lazar-mitrovic commented on #64
Fixed by https://github.com/graalvm/native-build-tools/commit/aa4b041655ae1bdceab710fdf093b171c200a5e4

[2021-06-22 19:47] #64 closed

[2021-06-23 00:19] xmlking opened #70 "Error for Gradle multi-module repo: Cannot set the value of task nativeTestBuild property 'server' of type"
when I use
[code]
in multiple modules in Gradle multi-module repo, I have got following error

[code]

To reproduce : https://github.com/xmlking/micro-apps

[2021-06-23 01:58] lazar-mitrovic commented on #70
I might be missing something but I cannot reproduce this locally.

I tried invoking `./gradlew nativeBuild` in the root project, and it crashes with:
[code]
This originates from wrong configuration in `apps/account-service/build.gradle.kts:78`, and removing it leads to crash due to build time initialization of slf4j.

I tried invoking `./gradlew -Pagent -DpersistConfig nativeTest` in the root proj

[2021-06-23 18:54] #55 closed

[2021-06-23 19:27] dzou commented on #53
I played around with it and was able to get JUnit 4 working with the following additional classes marked for build-time initialization:

[code]

Link to example: https://github.com/dzou/junit4-experiment

I'll try this out on a bigger set of tests and see if it still works.

[2021-06-24 08:59] sdeleuze opened #73 "Maven plugin : NativeImageJUnitLauncher not found when no junit-platform-native dependency"
Instead of switching to discovery mode, a Maven project that does not add `junit-platform-native` dependency fails hard with a `Main entry point class 'org.graalvm.junit.platform.NativeImageJUnitLauncher' not found` error when running `mvn -Pnative test` or `mvn -Pnative package`.

[2021-06-24 09:46] sdeleuze commented on #73
The root cause is [here](https://github.com/graalvm/native-build-tools/blob/master/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeTestMojo.java#L164) where we should filter on `org.graalvm.buildtools` not `org.graalvm.nativeimage`. Using a shared property could avoid such error in the future.

[2021-06-24 10:05] #73 closed

[2021-06-25 10:26] melix opened #75 "Add support for generating resource-config.json file"
## Proposal

Java applications often need resources which are found on classpath. While those resources are visible at native image build time, they are not included at runtime, unless you provide a `resource-config.json` file. In the Java ecosystem, and in particular in the Maven and Gradle build systems, resources are often found in a conventional place (`src/main/resources`) or generated in a w

[2021-06-25 10:33] melix opened #76 "Avoid execution of tests before generating the test image"
## Proposal

Currently, tests are executed in JVM mode, so that we can generate a list of test ids, which are in turn used as an input to generate the native test image. However, technically speaking, we don't need to run the tests: we only need to collect the test ids. So we could have some kind of "dry run" mode for tests which actually generate the test id list, but do not execute the tests in

[2021-06-25 10:35] melix opened #77 "Add support for multiple test images"
## Proposal

At the moment, the Gradle plugin is wired so that we generate a test image for unit tests. However, Gradle supports multiple test tasks and multiple test source sets. For example it's pretty common to have a functional test source set, an integration test source set, ...

Not all those would require a native image build, but we should provide a configuration mechanism so that native i

[2021-06-25 15:42] sbrannen commented on #53
Great!

Thanks for sharing, and please do keep us posted on your progress.

See also: https://github.com/graalvm/native-build-tools/pull/59#discussion_r658849595

[2021-06-25 16:02] sbrannen commented on #76
That's correct: we do not need to execute the tests.

But... collecting the list of UIDs is not the only goal of the `TestExecutionListener` approach. One of the main goals achieved by using the listener when running the test suite on the JVM is that we are using the user's custom configuration (e.g., from the `test` task in Gradle) to select the tests, test naming pattern, included/excluded test

[2021-06-26 12:16] lazar-mitrovic commented on #70
@melix would you mind taking a look into this? It fails for me on `0.9.1-SNAPSHOT` with the error mentioned above, as well as using PR #71 with:
[code]

[2021-06-28 10:15] lazar-mitrovic commented on #57
#71 features explicit Kotlin tests, so any such issue (if present) should be fixed by `0.9.2` release.

[2021-06-28 11:03] melix commented on #70
This is actually a bug in Gradle, see https://github.com/gradle/gradle/issues/17559

[2021-06-28 13:00] #70 closed

[2021-06-28 22:08] dzou opened #81 "native-image test execution should be skipped when no test"
Currently it looks like if you have a nested project structure in Maven and you define the `native-maven-plugin` in the parent pom, it will run the native build for the empty parent project.

Example project structure ([example](https://github.com/dzou/junit4-experiment)):
[code]

If `mvn test -Pnative` is executed from the root, it will still take a few extra minutes to perform an extra native co

[2021-06-29 09:42] #50 closed

[2021-06-29 09:42] #51 closed

[2021-06-29 09:42] #54 closed

[2021-06-29 10:07] gradinac commented on #53
Hey @dzou! We've added really basic support for the JUnit Vintage engine as part of #59 - could you try out the latest changes on master and see if they work for your samples?

While it's at a really basic level right now, it should hopefully grow over time and encompass more JUnit features out of the box

[2021-06-29 11:33] lazar-mitrovic opened #82 "Reorganize this repository as a Gradle project with multiple subprojects"
At the moment this repository contains three different projects which are interconnected using bash scripts and `mavenLocal` repository. This (obviously) isn't optimal, and results in duplication of configuration files and complex building logic.

Fixing this issue would provide a top level Gradle project that would host all of the common logic. This would also simplify the CI and streamline the r

[2021-06-29 14:52] lazar-mitrovic commented on #81
Yeah I believe this is a bug. It looks like maven plugin assumes that `junit-platform-native` dependency is missing even when configuration is missing due to no tests being present. It also outputs wrong warning:
[code]
@sdeleuze Any ideas about working around this / potential fix? I'm unsure of the approach we should take in order not to replicate surefire logic, but to be robust as well.

[2021-06-29 16:33] sdeleuze commented on #75
As discussed, I would limit the defaults to something very generic and not opinionated (`src/main/resources`, `src/test/resources`).

[2021-06-29 16:39] sdeleuze commented on #81
Sounds like a bug indeed, native compilation of tests is expected to be skipped when no test. I will check that deeper tomorrow.

[2021-06-29 18:12] dzou commented on #81
Thanks for taking a look. Here is a reproducer for convenience: https://github.com/dzou/junit4-experiment

Can be tested with `mvn test -Pnative` from root.

[2021-06-29 18:13] dzou commented on #53
Great! I'll give it a try and will followup.

[2021-06-29 22:39] dzou commented on #53
@gradinac -- Hey, thanks for making those changes. It works great for the simple test repo!

I just tried it on a more complex repo of tests here: https://github.com/dzou/java-pubsub
(To try locally, `cd google-cloud-pubsub` and run `mvn test -Pnative`.)

I am getting an error that looks like this:

[code]

I guess the puzzling part is that the class it is complaining about `org.apache.log.Logger`

[2021-06-30 09:28] melix commented on #75
Please take a look at the commit mentioned above. It introduces resource config file generation. By default, it is very conservative, with no inference and only explicit configuration. However, it supports inference for project dependencies and transitive dependencies (optionally).

[2021-06-30 11:01] sdeleuze commented on #75
Thanks for sharing.

Could we define what is inference behavior by default? For project dependencies, is it only using `src/main/resources` and `src/test/resources` (or similar customized resource directories) content for the various modules?

For external dependencies, is it everything except `*.class`?

Do we agree that we need to provide a similar capability in Maven side?

[2021-06-30 11:19] melix commented on #75
So the inference process is consistent and doesn't make a difference between project dependencies and external dependencies (but inference for external dependencies is turned off by default). The source set is the wrong abstraction level. Basically when you build a native image, what you include is a number of classes and resources which come from a number of source sets, not necessarily one. It's

[2021-06-30 12:17] sdeleuze commented on #75
Make sense.

I am wondering if a part of that should go at `native-image` level, especially given the fact most of it do not depend on source sets. I would like to avoid too much duplication of such basic capabilities across each build system we support. cc @vjovanov

[2021-06-30 12:20] graemerocher commented on #75
Will this approach work for `nativeRun`? ie does `nativeRun` build the JAR and put that on the classpath or does it put the project build classes/resources directories on the classpath?

[2021-06-30 12:38] lazar-mitrovic opened #84 "Test listener overwrites `test_ids` file when executed in parallel."
When invoking `test` task with large amounts of tests, multiple JVM processes are being spawned in parallel. When test listener is triggered, all of those processes overwrite the same file (instead of appending to it). This results in `test_ids` file which contains only the tests that were executed in the last JVM process (which is undeterministic and might result in a empty file).

This behavior

[2021-06-30 13:05] melix commented on #75
Currently the plugin uses the jars, that is to say that to build a native image it first builds the application jar and then uses it.

[2021-06-30 13:15] melix commented on #84
That's an interesting discovery indeed. This could potentially be fixed by implementing this "dry run" mode (#76), granted that discovery is done in a single process.

Alternatively, the test listener could, instead of a file, be passed an output directory. Then:

- the build tool would be responsible for passing a "clean" directory when the tests are started
- the listener would be responsible fo

[2021-06-30 14:37] melix commented on #82
@lazar-mitrovic please assign this to me, I'm starting to work on this, so that I can work on the Maven plugin next.

[2021-06-30 15:16] ebremer opened #85 "CreateProcess error=206, The filename or extension is too long"
Using 0.9.1, I received the following error on trying to build the native image:

[ERROR] Failed to execute goal org.graalvm.buildtools:native-maven-plugin:0.9.1:build (build-native) on project SBProject: Building image with C:\graalvm\bin\native-image.cmd failed: Cannot run program "C:\graalvm\bin\native-image.cmd" (in directory "D:\projects\SBProject\target"): CreateProcess error=206, The filena

[2021-06-30 16:33] lazar-mitrovic commented on #85
Hi Erich,
It looks like your classpath might be long enough to [hit a known Windows limitation](https://docs.microsoft.com/en-US/troubleshoot/windows-client/shell-experience/command-line-string-limitation).

One of the potential workarounds might be to [enable long paths](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd):
[code]
Let me know if this works

[2021-06-30 21:11] ebremer commented on #85
It didn't work.

[2021-06-30 22:10] dzou commented on #53
I did some further debugging, trying to understand what tests the junit vintage engine picks up.

I basically found that once we get into [`VintageDiscover.java`](https://github.com/junit-team/junit5/blob/main/junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/VintageDiscoverer.java#L42) there's a lot of random log and provider classes that get picked up in the `RunnerTestDescri

[2021-06-30 22:38] dzou commented on #53
Ok, I think I got it to work.

It looks like in my project setup something got messed up with the `maven-surefire-plugin`. In my project, my `maven-surefire-plugin` is defined in a parent pom two levels up. And then it seemed like when I did `mvn test -Pnative`, it didn't do the work of generating that test ID file I suppose. Or maybe it did but not in the expect place? Not sure.

So to fix the pr

[2021-07-01 09:20] lazar-mitrovic commented on #85
Related open Spring Boot issue: https://github.com/spring-projects/spring-boot/issues/17766
Similar JHipster issue: https://github.com/jhipster/generator-jhipster/issues/8878

Both are were opened in 2019. and feature no definitive workaround. You can try some of the workarounds mentioned in those issue threads (sans those related to enabling "fork" option, since we don't invoke `javac` here).

cc

[2021-07-01 09:33] #57 closed

[2021-07-01 09:44] gradinac commented on #53
Hey @dzou! Thank you very much for the detailed analysis! :) It seems like the tests were indeed running in the discovery mode - this particular one seems to come from the JUnit test discovery internals. For the discovery mode, we will most likely need to somehow tell JUnit to ignore these failures and just skip over the descriptor from which they originated.
However, as you've also mentioned, thi

[2021-07-02 10:04] sbrannen commented on #84
Related changes to the official `UniqueIdTrackingListener` coming in JUnit 5.8 have been made in https://github.com/junit-team/junit5/commit/9a1db7309f908f474b6042c9eb68c1e596e58453.

[2021-07-02 11:06] #81 closed

[2021-07-02 13:58] lazar-mitrovic opened #88 "[Maven] Show warning regarding missing `junit-platform-feature` at the end of the test execution"
There have been several issues where users didn't notice that they were running `native-maven-plugin` tests in the `test discovery` mode.

This can be easily fixed by moving the warning message to the end of the test execution.

[2021-07-02 19:23] dzou commented on #53
Cool. I'll close this for now since JUnit4 looks to be supported well; if any issues emerge in the future then people can file separate issues.

[2021-07-02 19:23] #53 closed

[2021-07-03 07:57] melix opened #90 "Provide editorconfig file"
Checkstyle isn't very nice as it's a validation check _after the fact_. It would be great if formatting rules were visible right in the IDE. This is possible by providing an EditorConfig file, checked in the repository.

[2021-07-05 15:33] sbrannen commented on #53
@dzou, thanks for providing the detailed analysis of the errors you encountered!

This actually stems from the fact that the `JUnitPlatformFeature` does not configure an "include class name" filter.

For example, the JUnit Platform `ConsoleLauncher` always configures the standard include pattern (if the user does not override that default with custom patterns), as can be seen here:

https://github

[2021-07-06 07:46] #82 closed

[2021-07-06 08:20] lazar-mitrovic opened #92 "[Maven] Remove `test discovery` mode"
As there are [issues regarding class filtering](https://github.com/graalvm/native-build-tools/issues/53#issuecomment-874197070) and the whole `test listener` / `test discovery` difference is [confusing to the end users](https://github.com/graalvm/native-build-tools/issues/88), best cause of action is to remove fallback to `test discovery` and force users to add a dependency to the `junit-platform-

[2021-07-06 08:20] lazar-mitrovic commented on #88
This should be fixed by #92

[2021-07-06 08:20] #88 closed

[2021-07-06 08:24] lazar-mitrovic opened #93 "Remove unused scripts"
ATM `common/scripts` directory contains scripts that are either broken or unnecessary. This should be changed prior to the release.

[2021-07-06 08:25] lazar-mitrovic commented on #48
Fixed by #87

[2021-07-06 08:25] #48 closed

[2021-07-06 09:54] sdeleuze commented on #85
On Windows make sure to use [x64 Native Tools Command Prompt](https://www.graalvm.org/reference-manual/native-image/#prerequisites). Should probably be documented on native build tools side.

@ebremer Could you please use that and provide us a feedback?

[2021-07-06 13:56] #92 closed

[2021-07-07 15:13] #93 closed

[2021-07-08 06:03] fanties commented on #85
![image](https://user-images.githubusercontent.com/22397401/124870264-ffb50600-dff4-11eb-9614-0365064454f4.png)
I've tried this solution, but there are still problems.

[2021-07-08 08:59] lazar-mitrovic commented on #85
Is this the same stacktrace as one above? Can you copy the full stacktrace?

[2021-07-08 11:30] fanties commented on #85
@lazar-mitrovic
`

Skipping task ':build' as it has no actions.
:build (Thread[Execution worker for ':' Thread 4,5,main]) completed. Took 0.001 secs.
:nativeBuild (Thread[Execution worker for ':' Thread 4,5,main]) started.

Caching disabled for task ':nativeBuild' because:
  Build cache is disabled
Task ':nativeBuild' is not up-to-date because:
  Task has failed previously.
Starting process 'comma

[2021-07-08 21:48] dzou opened #97 "Feature Request: Provide a skip GraalVM test annotation?"
Large projects will have numerous unit tests and often use mocking libraries (like Mockito, EasyMock) which may have tricky reflection.

It would be nice to have an annotation like `@SkipNativeTest` to annotate individual unit tests that should be skipped in native image testing. This would allow projects to gradually adopt native-image testing (not have all tests working at the start) and also gi

[2021-07-09 07:27] #84 closed

[2021-07-09 11:03] lazar-mitrovic opened #99 "Revamp CI to run tests in parallel."
ATM our gradle workflow takes about 40 minutes to complete. This is approaching the time that it takes to run [GraalVM workflows](https://github.com/oracle/graal/actions). Fix for this would be to run tests using parallel jobs.

[2021-07-09 11:12] lazar-mitrovic opened #100 "Add an artifact that downloads GraalVM and Native Image"
It can be a bit tricky for the end users to download and configure GraalVM. We can automate this process by providing an artifact that downloads and configures GraalVM and Native Image.

This artifact would be invoked by both Gradle and Maven plugins and would be configurable trough them (by specifying version, distribution, and/or even the URL) using extensions and configuration options.

Note th

[2021-07-09 11:15] lazar-mitrovic opened #101 "Revamp CI to use matrix builds with multiple OS's"
ATM we are running tests only on Ubuntu 18.04 Linux. We should change that in order to have a complete test and regression coverage. See [docs](https://docs.github.com/en/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
) for more information.

Fixing this issue depends on #100 and #102

[2021-07-09 11:32] lazar-mitrovic opened #102 "Remove Docker dependency from Maven testing"
ATM we are using Docker to create layered images in order to have a reproducible builds for testing the Maven plugin.
See the rationale behind this decision [here](https://github.com/graalvm/native-build-tools/pull/87/commits/d96237b8242f1c1054c76ec4ba925590c873e940), and related discussion [here](https://github.com/graalvm/native-build-tools/pull/87#discussion_r663271744).

This is creating an ov

[2021-07-09 12:29] graemerocher commented on #100
Gradle already supports the notion of tool chains which this should support imo

[2021-07-09 13:40] ebremer commented on #85
@sdeleuze I was always using x64 Native Tools Command Prompt.

[2021-07-09 14:46] dzou commented on #76
I've been doing research on getting more complex unit tests that use mocking libraries working with native-build-tools, and I think there might be one benefit to running the tests beforehand.

I noticed libraries like Mockito or EasyMock use cglib for creating mock objects, and they will internally [call ClassLoader.defineClass(..)](https://github.com/cglib/cglib/blob/master/cglib/src/main/java/ne

[2021-07-11 09:20] vjovanov commented on #77
"Not all those would require a native image build" - I think all of them need an image build.

[2021-07-11 09:22] vjovanov commented on #77
To understand better, multiple test tasks, can you give an example of how it is done for java. Then we can see how to do for native.

[2021-07-12 07:03] melix commented on #77
I don't think there's anything to do for native. This is really simple. Take this Gradle plugin for example: it has unit tests, which basically verify very quickly the algorithms, and it has functional tests, which are full fledged tests which spawn a Gradle daemon, execute a build and verify the results. In this case, most of the functional tests don't make sense to execute in native mode (forget

[2021-07-12 07:08] melix commented on #102
One important aspect of this is to make sure that the locally built artifacts are fetched from a local repository which wouldn't get polluted by Maven. In other words, we should preserve the fact that we have a local repository which contains artifacts produced by this build (the common libraries and the Maven plugin), behaving like a remote repository and _not_ like the local m2 cache.

Then we s

[2021-07-12 07:15] melix commented on #100
I totally agree that we should provide a more build-tool friendly API to fetch a GraalVM build _with native image preinstalled_. Gradle's toolchain mechanism is two fold:

1. it can identify JDK installations in "well-known" places: from `$PATH`, from OS specific paths (`/usr/lib/..`) or from common tools which are able to install JDKs by themselves (e.g SDKMan!).
2. if _no suitable JDK is found_,

[2021-07-12 07:44] melix commented on #99
There are multiple ways to do this, but clearly as we add test coverage the situation won't get any better.

[2021-07-12 07:50] melix commented on #99
In the options:

- manually create buckets of tests and create different workflow runs for each bucket
- add a task which generates buckets of tests and generates the workflow files
   - this task could scan the test directories to create one workflow per functional test
   - or it could create a hashing strategy to put all tests in a bucket automatically
- or we could use a product like Gradle En

[2021-07-12 21:09] lazar-mitrovic commented on #99
IMO we should manually create buckets of tests and then run each bucket in a separate parallel job. Note "job" and not a "workflow" since might want to reuse outputs of a job that downloads GraalVM and the one that builds required plugin/feature.

ATM for each workflow we only use one job with multiple steps, which is semantically oposite to what we are trying to achieve. Steps are always run sequ

[2021-07-13 10:53] lazar-mitrovic opened #105 "Ensure that samples work out-of-the-box"
Preferably we would want to support users copying project from the `samples` directory just building upon that.

For this we need to do two things:
* ensure that `mavenCentral` is included in the `pluginManagement` block in the Gradle plugin
    We already specify this [in the readme](https://github.com/graalvm/native-build-tools/blob/master/native-gradle-plugin/README.md).
* pin plugin version in

[2021-07-13 11:02] lazar-mitrovic opened #106 "Do something about GraalVM detection in snap confinement."
If Gradle is installed via Snap on Ubuntu, it will be under confinement, and thus unable to detect GraalVM installation.
[code]

#100 will mitigate this issue somewhat, but we might want to notify user if he is running in a Snap, or throw an error message regarding missing GRAALVM_HOME.

[2021-07-13 15:48] #102 closed

[2021-07-13 23:37] dzou commented on #97
Just as a follow-up, we've been trying to get some larger projects doing GraalVM JUnit testing. We have some bigger projects where I found 216/499 tests created mocks using Mockito. And these don't seem to work because of the dynamic class creation discussed here: https://github.com/graalvm/native-build-tools/issues/76#issuecomment-877241851

I'm thinking maybe we would like to have some automatic

[2021-07-16 15:19] dzou commented on #97
@sbrannen -- Hey I was wondering what your recommendations are for developers trying to use this plugin for larger projects that may have tests using mocking libraries etc. For context, we are trying to apply the plugin for ~95 different projects in our company. I wonder if there is a way to either get the mocking tests to work or skip them? I am under the impressions that mocking libraries don't

[2021-07-16 15:20] #75 closed

[2021-07-18 13:57] sbrannen commented on #97
Hi @dzou,

Thanks for raising the issue and opening up a public discussion!

We have been aware of such needs for tests for over a year now. This [feature branch](https://github.com/sbrannen/spring-framework/tree/graalvm-testing) for the Spring Framework served as the proof of concept that ended up influencing the Gradle and Maven plugins in _this_ repository.

That POC has not been kept up to dat

[2021-07-19 17:46] dzou commented on #97
Thanks for getting back to me and sharing this info Sam! I see, the annotations are helpful.

I think for us, we would definitely be interested in exploring the automated method to try skipping these tests or just getting it to work. We are trying to get a large number of projects for our company using this plugin (it is really great!), and it would be a much more persuasive sell if this can be do

[2021-07-21 10:02] sdeleuze opened #108 "Regression: mainClass property should not be mandatory"
This 0.9.2 regression (maybe coming from [this commit](https://github.com/graalvm/native-build-tools/commit/633c34cad8e169b832c8ccfb729ccefaed1a5535#diff-4b478e87d3e244b734743d63e08f0640211913a7973e1bb5073a7018297a2868) with a missing `@Optional`) breaks most Spring Native Gradle projects, since we set the main class via `-H:Class=` in `native-image.properties` and this is not consistent with Mave

[2021-07-22 09:32] melix commented on #108
Can you provide a reproducer? This doesn't look like a bug to me: the main class _is_ mandatory. It's set by convention to the application name. If you want to use something else, from a `native-image.properties` file, then it should be set as an input, or it means that your `native-image.properties` file changes wouldn't be considered as inputs to the task.

[2021-07-22 12:42] sdeleuze commented on #108
Sure, please find attached a reproducer : [java-application.zip](https://github.com/graalvm/native-build-tools/files/6862136/java-application.zip)

In a nutshell:
 - Take one of the sample
 - Remove `mainClass.set('org.graalvm.demo.Application')` from the `application` block
 - Create a `src/main/resources/META-INF/native-image/native-image.properties` file with `Args = -H:Class=org.graalvm.demo.A

[2021-07-22 12:45] melix commented on #108
Do you mean `native-image.properties` is a standard file recognized by `native-image`? If this documented?

[2021-07-22 12:48] sdeleuze commented on #108
Yes, you can find more details in https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/#embedding-a-configuration-file.

[2021-07-22 13:07] sdeleuze opened #109 "Regression: Gradle plugin requires GRAALVM_HOME to be set"
I think this is a regression we previously saw and fix with @melix but it seems to be back with 0.9.2. When using https://sdkman.io to install and use GraalVM, `GRAALVM_HOME` env variable is not set and when using the Gradle plugin and I run `./gradlew clean nativeBuild` I get the following error:

[code]

The same use case works correctly with 0.9.1. If I set `GRAALVM_HOME` with 0.9.2 it works.

[2021-07-25 09:02] melix commented on #108
I see, you are using the mechanism used for _consumers_. It seems a bit messy to do this, since you're embedding into the properties file things which are not used at runtime, not used by consumers. Basically there's an issue, since we need to make the difference between "I didn't provide a main class", which means the plugin needs to set a default value to build an image, and "I passed in a main

[2021-07-26 06:13] srnagar opened #110 "Question: How to run native tests that access directories in src/test/resources"
I am using `native-maven-plugin` version 0.9.1 and trying to run unit tests that access files in `src/test/resources/<sessiondir>/<resourcefiles>`.

Tests run successfully in the standard JVM `test` task but when running as native tests, they fail because the `<resourcefiles>` are not found. I tried adding the test resource directory (`sessiondir`) in `resource-config.json` but it didn't work.

Ho

[2021-07-26 07:10] graemerocher commented on #110
Resource config inference coming in 0.9.3 might help here https://github.com/graalvm/native-build-tools/pull/83

[2021-07-26 10:36] lazar-mitrovic commented on #110
I believe that [using `native-image-agent`](https://github.com/graalvm/native-build-tools/blob/master/native-gradle-plugin/README.md#reflection-support) will fix your issue.

[2021-07-26 14:27] sdeleuze commented on #108
It is potentially messy but that's how native image works today, middle-long term that could maybe evolve indeed.
Also keep in mind not all use cases of native image require a main class (shared library).
And this is a regression, and we need to provide consistency between Maven and Gradle for this kind of configuration.

For those reasons, as discussed in today meeting with the wider team and @la

[2021-07-27 00:14] anumalasri opened #111 "nativeBuild gradle failing at 'generateTestAot' task"
Hi,

gradle nativeBuild failing at 'generateTestAot' task

[code]

I am using below Gradle & Java version as shown below with Spring Boot 2.5.3 and Native Gradle Plugin v0.9.2

Not able to find what's wrong with build.  Can you able to help how to fix this error ?

[code]

[2021-07-27 11:39] sbrannen commented on #111
The error you encountered is not related to the `native-build-tools` project.

Rather, it is due to a change in Spring Framework 5.3.9.

The Spring AOT support was updated to account for this change in https://github.com/spring-projects-experimental/spring-native/commit/efaee32d9557040aee9f061ce4da3d6d80df82c9#diff-d4534ef3a1a8ce16ac634ac6f2c621213ca4f8b981bfe7af83f757cf57064d06L72.

You will ther

[2021-07-27 11:39] #111 closed

[2021-07-27 12:54] anumalasri commented on #111
@sbrannen ..  Thanks for details and pointing out spring framework version changes.   Let me check more about versions in my project and see if any adjustments required.

However, the error from `native-build-tools` is not sufficient to find actual problem like version conflicts.
Please consider to improve error messages as native-image builds are still evolving and would be helpful to users.

[2021-07-27 13:13] sbrannen commented on #111
The `generateTestAot` Gradle task is not part of the `native-build-tools` project. So the `native-build-tools` project cannot improve the error message.

If you would like to see better error messages for the `generateTestAot` Gradle task, please raise an issue against the [`spring-native`](https://github.com/spring-projects-experimental/spring-native/issues/new) project.

[2021-07-27 20:31] dzou opened #112 "Feature Request: Run integration tests picked up by maven-failsafe-plugin in native mode"
I'm not sure if this is currently possible; we have some integration tests that are run with the `maven-failsafe-plugin`. Is there a way to get the native-maven-plugin to also pick up the tests that are run by the failsafe plugin?

[2021-07-30 01:05] lazar-mitrovic commented on #109
Did you install `native-image` using `gu install native-image`?

[2021-07-30 07:53] sdeleuze commented on #109
Yes I did. After more tests, I found this regression can be reproduced with Gradle 6.8.3, not with Gradle 7.x.

[2021-08-03 16:42] lazar-mitrovic commented on #109
I cannot reproduce this locally with Gradle 6.8.3:
[code]
I attached [the diff used](https://github.com/graalvm/native-build-tools/files/6925753/patch.txt).

Can you run `gradle -q javaToolchains`? On my machine it returns:
[code]

[2021-08-06 22:16] dzou commented on #112
One possible workaround is to just run integration tests with Surefire. This can be done by overriding the surefire plugin in the `native` profile so that it includes all test patterns, something like this:

[code]

For CI purposes, you would just run `mvn test -P native` as before.

[2021-08-07 13:50] darxriggs commented on #109
I **can** reproduce the issue with
- plugin version `0.9.2`
- JDK 8 on the commandline (either `sdk use java 21.2.0.r8-grl` or `sdk use java 8.0.292.hs-adpt`)
- Gradle 6.8.3

I **can't** reproduce the issue with
- plugin version `0.9.2`
- JDK 8 on the commandline (either `sdk use java 21.2.0.r8-grl` or `sdk use java 8.0.292.hs-adpt`)
- Gradle 7.1.1

I have used `gradle wrapper --gradle-version 6.8

[2021-08-09 09:28] melix commented on #109
This is actually a different issue from the one that we fixed, @sdeleuze . Gradle <7 doesn't support setting the vendor for toolchains: https://github.com/graalvm/native-build-tools/blob/44000132425ed03023936830163ceaeff3382050/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java#L214-L216

The consequence is that if you run Gradle 6.8.x with a GraalVM 8 SDK

[2021-08-09 11:17] #105 closed

[2021-08-09 11:17] #108 closed

[2021-08-09 12:10] #109 closed

[2021-08-10 16:57] #99 closed

[2021-08-11 13:26] machaval opened #119 "Feature Request: Add support for generating native library"
Currently this tool only allows to generate native images and not native library. We are currently using `com.palantir.graal` plugin that allows this feature and I would like to replace it with the official support.

[2021-08-11 17:49] melix commented on #119
Yes it makes sense to add a property, which would be configured to `true` by default if the `java-library` plugin is applied.

[2021-08-11 17:58] lazar-mitrovic commented on #110
Does previous comment work for you @srnagar ?

[2021-08-11 21:53] srnagar commented on #110
@lazar-mitrovic I haven't had a chance to try this out but I'll try it out this week and let you know. Thanks for the guidance!

[2021-08-12 20:29] #119 closed

[2021-08-13 13:03] melix commented on #100
Related: https://github.com/gradle/gradle/pull/18028

[2021-08-15 14:33] arodionov opened #124 "Timeout annotation requires additional reflection configuration"
With Gradle plugin _org.junit.jupiter.api.Timeout_ requires running tests using an agent or explicitly defined configuration
[code]
Project example https://github.com/arodionov/JUnitNative

Exception:
[code]

[2021-08-17 15:43] #124 closed

[2021-08-19 12:51] #85 closed

[2021-08-20 20:20] melix commented on #85
We've implemented a workaround for this problem. Would you mind checking with a snapshot of this plugin? Do do this you need to use this repository in your `settings.gradle` file:

[code]

Thanks!

[2021-08-20 20:58] ch4mpy commented on #85
I'd love to try the snapshot.

Would you please provide me with maven snapshot repository? (didn't find it)

[2021-08-20 21:07] ch4mpy commented on #85
@melix could you please provide me with maven snapshot plugin repository ?

I couldn't get 0.9.4-SNAPSHOT from https://raw.githubusercontent.com/graalvm/native-build-tools/snapshots.

Here is what I tried:
[code]

[2021-08-21 07:50] melix commented on #85
For Maven, the workaround is more complicated. you need to use these:

[code]

then you will need to configure your build according to the following section of the docs: https://graalvm.github.io/native-build-tools/0.9.4-SNAPSHOT/maven-plugin.html#_long_classpath_and_shading_support

[2021-08-21 12:12] ch4mpy commented on #85
@melix looks like spring-boot app main class is not found. I get `Error: Please specify class containing the main entry point method. (see --help)`.

Did I miss the main class configuration in the doc you linked?

[2021-08-23 06:58] melix commented on #85
Thanks @ch4mpy, I will update the docs.

[2021-08-24 15:02] melix commented on #106
I am not sure we can do something here: the error is thrown by Gradle itself when it resolves the inputs of the task, that is to say at the moment it has to determine what JDK to use. We cannot intercept this, so it might need an improvement to Gradle in toolchain handling to provide fallbacks and/or custom error handling.

[2021-08-27 12:16] dmurat opened #129 "Allow configuring additional entries for native image classpath"
I'm not using this plugin at the moment. However, I was kindly asked by Cedric Champeau to replicate this issue here.

The original report was for the Micronaut Gradle plugin and can be found here:  https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/93. For convenience, here is a quote:

Tnx

[2021-08-28 12:20] lazar-mitrovic commented on #106
Perhaps the best solution might be to introduce a new warning message to the Gradle itself when toolchain isn't found AND Gradle is executed from a confined environment.

Something like:
[code]
https://github.com/gradle/gradle/blob/master/subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/JavaToolchainQueryService.java#L95-L97

[2021-09-03 08:05] #110 closed

[2021-09-13 17:47] nfrankel opened #130 "The Maven plugin README shows Gradle-related code"
Comes from [this change](https://github.com/graalvm/native-build-tools/commit/c2e3b24246ce23bd2a0fbf71fb7f6e652adf2662).

 I know @melix hates Maven, but I assume it was not done on purpose 😂😂😂

[2021-09-13 18:13] melix commented on #130
This isn't a mistake: the Maven plugin is built with Gradle ;)

[2021-09-13 18:21] nfrankel commented on #130
Wow! That's an interesting approach. Thanks for the feedback

[2021-09-13 18:21] #130 closed

[2021-09-13 18:28] melix commented on #130
There are different reasons for this:

- this project is a multi-project build with common code between the Gradle and Maven plugins and this setup allows consistent build without hassle (changing the common module would automatically trigger rebuild of downstream plugins without having to publish anything to a local repo)
- isolation of functional tests (avoiding pollution of .m2 in particular)
-

[2021-09-13 18:29] nfrankel commented on #130
No worries, this isn't a documentation regression, that's the main point.

[2021-09-15 12:46] sbrannen opened #131 "Upgrade to JUnit 5.8"
## Overview

JUnit 5.8 has been released with the official `UniqueIdTrackingListener`.

## Deliverables

- [x] Upgrade the build to use JUnit 5.8.0
- [x] Update the Gradle and Maven plugins to use the official `UniqueIdTrackingListener` (requires setting a system property to enable the listener)
- [x] Decide whether the current "local" version of the `UniqueIdTrackingListener` should be removed. I

[2021-09-22 22:36] lfeagan opened #133 "Pulling in JUnit Dependencies"
Including the following line in the plugins section:
   id 'org.graalvm.buildtools.native' version "0.9.5"
results in dependencies on junit to get pulled into my project, that I would prefer not to be there, as I use TestNG.

[2021-09-27 22:27] GavinRay97 opened #134 "Gradle plugin: `-Pagent run` generates config at `app\build\native\agent-output`, but then `-Pagent nativeCompile` doesn't use it"
Hello, thanks for such a useful plugin =)

I just tried the following, based on the docs here:
- https://graalvm.github.io/native-build-tools/0.9.5/gradle-plugin.html#_reflection_support_and_running_with_the_native_agent

[code]

Running `./gradlew -Pagent run` seemed to work great, and I could see the output config generated at `app\build\native\agent-output`

Then when trying to build with `./gr

[2021-09-28 12:26] lusou-zhangquan opened #135 "Support junit3 test framework"
When we are testing BouncyCastle java project (https://github.com/bcgit/bc-java) based on this native build tool, we found that test cases were not compiled and tested as expected with `gradle nativeTest` command. The reason is that the test cases of this project is based on junit3, while this plugin support junit4+ only. Therefore, we did some work on the basis of this tool to enable test cases b

[2021-09-28 15:55] #134 closed

[2021-09-28 18:32] #133 closed

[2021-09-28 18:46] GavinRay97 commented on #134
Thanks for the swift fix!

[2021-09-29 12:37] #129 closed

[2021-10-04 13:11] #131 closed

[2021-10-07 13:14] #13 closed, assigned to melix

[2021-10-08 03:19] lusou-zhangquan commented on #135
Thanks for your patient explanation firstly.

As mentioned above, I have tried to run junit3 test cases using this plugin but none was executed.
In my understanding, this plugin works like this:
1. Collect class and method information during executed in jvm mode;
2. Export to config file whose name starts with `junit-platform-unique-ids`;
3. Enable `JUnitPlatformFeature` during graal native image

[2021-10-09 13:34] sergey-morenets opened #141 "Incrorrect documentation for Gradle plugin"
Hi

Gradle plugin documentation (https://graalvm.github.io/native-build-tools/0.9.5/gradle-plugin.html) contains a lot of examples for Groovy/Kotlin configuration.
However it seems that part of them is not compiled for Gradle Kotlin build scripts. For example, if I use this block in build.gradle.kts:

[code]

And run Gradle build: **gradle build** then I get the compilation error:

Script compilat

[2021-10-13 20:33] KoenLuytenUG commented on #141
I'm getting this same problem using IntelliJ IDEA version idea-IU-212.5284.40

[2021-10-19 06:29] HuangDayu opened #142 "Native image Unsupported GB2312 Charset Exception"
Hello, I have encountered some problems.

The project can run normally in IDEA, but an exception is thrown when Native Image starts: java.nio.charset.UnsupportedCharsetException: GB2312

GraalVM Version ：

[code]

Source code :

[code]

Native Application Bulid :

[code]

Native application bulid success , but an exception is thrown when starts ：

[code]

How can I solve this problem ? Thanks ！

[2021-10-19 10:46] HuangDayu commented on #142
我已经解决了此问题。

I have solved this problem.

[code]

[2021-10-19 10:46] #142 closed, assigned to nobody

[2021-10-19 23:00] linux-china opened #143 "Maven toolchain aware support"
Some developers use Maven toolchain to manage multi JDKs.  For example, now I have graalvm-21.2-java11 and graalvm-21.2-java8 for Spring Boot Native apps, and use graalvm-21.3-java17 for some side projects.   if native-maven-plugin is toolchain-aware and it will be easy for project to choose the graalvm version.  Some important maven plugins are toolchain-aware already.    https://maven.apache.org

[2021-10-20 21:52] dzou opened #144 "bug: native-maven-plugin doesn't work if defined in parent pom"
It seems like in version `0.9.6`, if the native-maven-plugin is defined in the parent pom and tests are run from the root directory, the `test-ids` file does not get generated correctly for the child modules and it will enter test-discovery mode which will fail.

Here is a reproducer: https://github.com/dzou/native-maven-plugin-repro-multi-module

[2021-10-21 08:47] dsyer opened #145 "Copy APT generated sources into the debugger cache"
The build tools create a nice debugger cache of all the sources from dependencies in the native image (that's how you can debug that code visually), but they don't copy any APT generated sources, so that code can't be debugged without a manual step. E.g. with Maven I have to do this to debug the Spring AOT initialization:

[code]

It would be nice if I didn't have to do that, or if I could at leas

[2021-10-22 14:34] #144 closed, assigned to nobody

[2021-10-22 16:57] gauravphoenix opened #148 "Probing version info of native-image executable /opt/graalvm-ce-java17-21.3.0/lib/svm/bin/native-image failed"
When I run `mvn  package -Dpackaging=native-image`, I am getting the following error-

[code]
Any ideas on how to go about fixing it?

I can run `/opt/graalvm-ce-java17-21.3.0/lib/svm/bin/native-image` just fine-

[code]

env info-

[code]

maven version-
[code]

[2021-10-23 20:19] #141 closed, assigned to nobody

[2021-10-25 12:56] #148 closed, assigned to nobody

[2021-10-30 15:39] KoenLuytenUG commented on #141
I'm still getting these same issues...

[2021-11-01 13:09] sbrannen opened #150 "Move `TestIdentifier` build-time initialization to `PlatformConfigProvider`"
I noticed that the JUnit Platform `TestIdentifier` is configured for build-time initialization directly in the `JUnitPlatformFeature`:

https://github.com/graalvm/native-build-tools/blob/15bea361faf74d2f36655aef688995be17e59918/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/JUnitPlatformFeature.java#L89

However, the rest of the build-time initialization for JUnit Platform t

[2021-11-02 08:32] melix commented on #141
The docs were fixed and now say that if you use the Kotlin DSL you need to use this syntax:

[code]

[2021-11-02 12:53] sbrannen opened #151 "Document JUnit Platform compatibility issues when using Maven Surefire"
## Overview

As explained in https://github.com/spring-projects-experimental/spring-native/pull/1206, there is an issue with the Native Build Tools (NBT) Maven support when using a version of Maven Surefire prior to 3.0.0-M4.

Maven Surefire 3.0.0-M4 introduced support for automatically aligning the JUnit Platform version used by Surefire with the version needed by the user's configured version of

[2021-11-06 11:38] sdeleuze opened #152 "Gradle nativeBuildClasspathJar task should support directories in addition to JARs"
As demonstrated in the attached project when executing `gradlew.bat nativeBuild`, `nativeBuildClasspathJar` does not support directories, only JARs, and throw this error when directories are configured in the classpath:
[code]

As pointed out by @melix, [this code path](https://github.com/graalvm/native-build-tools/blob/22799e03b770d3456d7aa60646d630e3a4fb5f1c/native-gradle-plugin/src/main/java/or

[2021-11-06 15:21] sbrannen opened #153 "Failed containers do not fail the build, but failed assumptions do"
## Overview

The following logic is incorrect.

https://github.com/graalvm/native-build-tools/blob/15bea361faf74d2f36655aef688995be17e59918/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/NativeImageJUnitLauncher.java#L137

The `failedCount` should include failed tests and failed containers (i.e., test classes), but it should not include aborted tests.

An "aborted test" is o

[2021-11-06 15:35] sbrannen opened #154 "NativeImageJUnitLauncher returns exit code that can cause issues for shell scripts"
## Overview

The exit code is currently the value of the number of failures in the test build.

https://github.com/graalvm/native-build-tools/blob/15bea361faf74d2f36655aef688995be17e59918/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/NativeImageJUnitLauncher.java#L138

For the `ConsoleLauncher` in the JUnit Platform (JUnit 5), we originally did the same thing, but users rep

[2021-11-07 13:22] chekanov opened #156 "Does not work with lucene 8.10"
I'm testing a simple Lucene 8.10 search example. I use :

- java 17.0.1
- graalvm-ce-java17-21.3.0
- Ubuntu 20.4

Jar file works fine when using Java jar. I also can compile my example to the native binary using the command

[code]

However, during execution of this binary, I've got this:

[code]

Apparently Lucene code used in searches:

[code]

failed when compiling with  graalvm . Any ideas?

[2021-11-08 15:49] ilopmar opened #160 "Create a "current" or "latest" link for the latest version of the docs"
It would be good if there is a "current" or "latest" alias of the documentation so we can link them without setting a specific version.

We have in our Micronaut Gradle plugin links to 0.9.6 but there is a now a 0.9.7.1. It is error prone and a time consuming task to remember to update the docs every time there is a new version.

So, besides publishing to:
[code]

It would be good to also have:

[

[2021-11-08 15:57] melix commented on #160
There's a redirect for the latest version: https://graalvm.github.io/native-build-tools

However there's no redirect link for the Maven or Gradle plugin, only for the landing page.

[2021-11-08 15:59] ilopmar commented on #160
I think it's worth it to add the redirect also for the plugins. I think that tools using the plugin will want to link specific sections of the plugins, no the main page for the native-build-tools

[2021-11-08 20:27] dzou opened #161 "Native Maven Plugin fails to generate test configuration file if JUnit provider is specified"
In some cases, users will explicitly specify the JUnit provider through a dependency for the surefire plugin: https://maven.apache.org/surefire/maven-surefire-plugin/examples/providers.html

[code]

We noticed that if a project selects a JUnit provider through the method described in the docs, the `native-maven-plugin` will not generate a test configuration file that lists the tests to run.

[code

[2021-11-09 07:51] #152 closed

[2021-11-09 09:14] sbrannen commented on #161
The Maven and Gradle plugins in Native Build Tools only support tests executed via the JUnit Platform.

The is partially documented for the Gradle plugin but not really documented for the Maven plugin. In light of that, the documentation can definitely be improved.

In any case, providing a different Surefire provider will not work.

However, JUnit 4 is supported since JUnit 5 provides the `Vintag

[2021-11-09 15:34] dzou commented on #161
Ah, thank you for the clarifications. Closing.

[2021-11-09 15:34] #161 closed

[2021-11-11 15:48] sbrannen opened #162 "Support configuration of custom agent options when using the agent"
## Overview

The Maven and Gradle plugins currently configure the options for the agent as follows.

https://github.com/graalvm/native-build-tools/blob/cd0e25a28e347dfcfae39c3c7f744a1a4fa680e0/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeExtension.java#L78-L82

https://github.com/graalvm/native-build-tools/blob/cd0e25a28e347dfcfae39c3c7f744a1a4fa680e0/native-gradle-plugin/s

[2021-11-12 09:43] sbrannen commented on #162
I also noticed that `experimental-class-loader-support` is always enabled, but perhaps some users do not want that. Or perhaps they want the option to disable it.

In light of that, one solution to this issue would be to allow the user to configure all options supplied to `-agentlib:native-image-agent` except the `config-output-dir` which is managed by the plugin.

If we go that route, the user co

[2021-11-12 11:03] graemerocher opened #163 "Micronaut extensions trigger unsupported JUNit 5 behaviour for native"
Seems some extensions in JUnit 5 are not supported.

See https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/307 for a sample application.

@sbrannen have you tried any extensions yet?

[code]

[2021-11-12 11:10] sbrannen commented on #163
We use the `SpringExtension` in the Spring Native project, and that uses the `ExtensionContext.Namespace` but does not use `Namespace.GLOBAL`.

Are you using the global namespace in Micronaut?

In any case, this should be addressed in:

https://github.com/graalvm/native-build-tools/blob/cd0e25a28e347dfcfae39c3c7f744a1a4fa680e0/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/c

[2021-11-15 09:09] #154 closed

[2021-11-15 11:29] #150 closed

[2021-11-15 17:53] #153 closed

[2021-11-17 13:56] melix opened #164 "Make it possible to completely override toolchain support"
Gradle's toolchain support currently causes a couple of issues:

- it's not possible to select a specific _version_ of GraalVM, for example to use 21.3 if 20.2 is also installed
- it _cannot_ detect GraalVM Enterprise, which completely breaks this plugin

In effect, the plugin makes use of the _vendor_ spec to match GraalVM. This works fine for GraalVM Community Edition, but the string for GraalVM

[2021-11-17 20:02] #164 closed

[2021-11-18 22:11] dzou opened #166 "[Question] Is there a way to customize UniqueIdTrackingListener?"
Is there a way to customize the logic that `UniqueIdTrackingListener` uses to write test-ids into a file?

I have been revisiting the topic of how to skip tests that use mocks when we run this plugin. One idea that we had is maybe we could extend the `UniqueIdTrackingListener` so it omits writing test names that use mocks in the test-ids file somehow. Is customizing this test listener possible? Ju

[2021-11-19 17:18] lazar-mitrovic commented on #156
This issue isn't related to `native-build-tools` since you are invoking `native-image` by hand.

You should create new issue at https://github.com/oracle/graal/issues/, but first make sure that you have generated necessary configuration using [native-image-agent](https://www.graalvm.org/reference-manual/native-image/Agent/), and built an image using said configuration.

[2021-11-19 17:18] #156 closed

[2021-11-19 17:20] lazar-mitrovic commented on #160
We could create a simple symlink as they [work with Github Pages](https://github.com/chetabahana/symlink).

[2021-11-19 17:21] melix commented on #160
Oh, didn't know that!

[2021-11-19 17:33] lazar-mitrovic commented on #135
Have you managed to run your project using `junit-platform` dependency in JVM mode?

As far as I see, you are still using
[code]
and that won't work, and will not be supported. You'll need to [migrate to `junit-platform`](https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4-running) in order for listener to pick up your tests. You also might need to configure `junit-vintage-engi

[2021-11-19 17:36] sbrannen commented on #162
This is actually already handled by the following code which dynamically adds an entry to the `systemProperties` configuration for Maven Surefire.

https://github.com/graalvm/native-build-tools/blob/cd0e25a28e347dfcfae39c3c7f744a1a4fa680e0/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeExtension.java#L156-L165

[2021-11-20 19:57] linux-china commented on #143
I have some problem to signed the OCA, and anybody can take a look at
https://github.com/graalvm/native-build-tools/blob/master/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeBuildMojo.java

and implement toolchains support.  The following code is just for refer.

[code]

[2021-11-23 11:41] #160 closed

[2021-11-23 11:44] melix commented on #160
This now done. thanks for the suggestion about the symlink, makes things much easier!

[2021-11-23 11:46] ilopmar commented on #160
Awesome! :tada:

[2021-11-24 13:56] sbrannen commented on #162
Related PRs

- Maven plugin: #168
- Gradle plugin: #169

[2021-11-24 14:03] #162 closed

[2021-11-24 16:54] #166 closed

[2021-11-28 18:11] sbrannen opened #171 "Update changelog for 0.9.8"
Once #168 has been merged, I will update the changelog for all changes included in that PR as well as changes to the documentation regarding JUnit Platform, Maven Surefire, and the native agent.

[2021-11-29 11:15] lazar-mitrovic commented on #143
@linux-china please check if this fixes your OCA issues: https://github.com/graalvm/native-build-tools/pull/149#issuecomment-963145909

[2021-11-29 13:41] tarric1 opened #172 "JDK selection."
On my build machine, I've different JDKs installed and I use maven properties, configured in settings.xml, to choose the right JDK to use or alternativelly I use toolchains as second option.

The native-maven-plugin doesn't allow the selection of the JDK to use and it uses always the JAVA_HOME environment variable,

I think that this is a huge problem that limits the flexibility of building system

[2021-11-29 13:55] lazar-mitrovic commented on #172
Might be a duplicate of #143.

I believe you should be able to select your GraalVM location using `GRAALVM_HOME` env variable until #149 is merged.

[2021-11-29 14:08] tarric1 commented on #172
I'm using version 0.9.7.1 and it isn't considered neither GRAALVM_HOME nor toolchains.
What is the version to use?

[2021-11-29 14:24] lazar-mitrovic commented on #172
`0.9.7.1` is the latest so it should be fine.

Logic for detecting `native-image` executable is located here: https://github.com/graalvm/native-build-tools/blob/master/native-maven-plugin/src/main/java/org/graalvm/buildtools/Utils.java#L105-L123

It should check for `native-image` executable presence in following order:
- `JAVA_HOME`,
- `PATH` variable,
- `GRAALVM_HOME`

[2021-11-29 15:18] tarric1 commented on #172
I don't know why, but it doesn't work:

![image](https://user-images.githubusercontent.com/23168111/143893463-667f0f2d-1f0d-4823-88a2-384fe8d3f022.png)

![image](https://user-images.githubusercontent.com/23168111/143894001-a266d4cb-cf78-4ae4-ae04-ef42ea606801.png)

[2021-11-29 16:19] #172 closed

[2021-11-29 16:21] lazar-mitrovic commented on #172
Please check if your issue is resolved in latest snapshot (see `Testing pre-releases` section [here](https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#_registering_the_plugin) for steps required in order to enable snapshots)

[2021-11-29 18:37] lazar-mitrovic commented on #172
Oh sorry, it seems like the snapshot publishing is broken ATM, ignore my last comment.

[2021-11-30 08:55] #171 closed

[2021-11-30 13:47] melix opened #175 "Resources detection fails if a classpath entry is missing"
If the classpath contains an element, say `build/resources/test` and that this element doesn't exist, then the build would fail with:

[code]

We should be lenient and ignore missing entries.

[2021-11-30 13:48] melix commented on #175
Something is adding `build/resources/test` to the classpath although the directory doesn't exist. We should probably avoid that, but the native plugin could be lenient with missing resources: https://github.com/graalvm/native-build-tools/issues/175

[2021-11-30 15:01] graemerocher opened #176 "JUnit 5 native tests fail with NoSuchElementException: No value present"
I have been enabling native testing on the `micronaut-test` project suite and the tests fails with:

[code]

Is this is a known issue?

[2021-11-30 15:09] graemerocher commented on #176
Seems reflection is being used in `AnnotationUtil`:

[code]

@sbrannen do all JUnit 5 annotations need registering for reflection?

[2021-11-30 15:11] graemerocher commented on #176
Full trace https://github.com/micronaut-projects/micronaut-test/runs/4369136089?check_suite_focus=true

[2021-11-30 15:23] graemerocher commented on #176
Worked around with https://github.com/micronaut-projects/micronaut-test/pull/490/commits/db88c001be7b5a70e4f7382968e6e11ab3a2c191

[2021-12-02 01:18] dzou opened #178 "Tests fail to access resources if tests are run from parent module"
I think there may be an issue with how the `native-maven-plugin` runs tests that accesses resources from `src/test/resources`; the behavior appears different from how the `surefire-plugin` resolves these paths.

When I run certain tests from the parent module that use resources using the maven-surefire-plugin (in JVM mode), these tests will pass. However, when the same tests are run with the `nati

[2021-12-02 09:51] #175 closed

[2021-12-02 17:47] dzou commented on #178
Clarifying a point - I don't think the issue is limited to "resources" but rather any relative path used to reference files in a test of a child module.

[2021-12-03 10:13] sbrannen opened #179 "Introduce `skipNativeTests` in Maven plugin"
## Overview

`NativeBuildMojo` has a `skipNativeBuild` property.

Whereas, `NativeTestMojo` has a `skipTests` property.

This means that you can skip the tests, but that skips the JVM tests **and** the native tests, since Maven Surefire looks for the same [`skipTests` property](https://maven.apache.org/surefire/maven-surefire-plugin/examples/skipping-tests.html).

Some workflows have the need to e

[2021-12-03 10:15] sbrannen commented on #179
As an alternative, it might be better to replace `skipTests` in `NativeTestMojo` with `skipNativeTests`.

`skipTests` would then only apply to Maven Surefire; whereas, `skipNativeTests` would only apply to the Native Build Tools.

[2021-12-04 10:30] sdeleuze commented on #179
I tend to think that `skipTests` should still aply on both Surefire and NBT because:
 - Without JVM tests we can't run native test due to missing test ids
 - In term of semantics, it makes sense from POV to skip both

So this issue should be only about adding `skipNativeTests` without changing `skipTests` behavior.

[2021-12-04 14:27] sbrannen commented on #179
We could certainly do it like that for now and change it later if we desire (see below).

That's currently true, but if #76 gets implemented that would no longer be the case.

[2021-12-06 15:34] sbrannen opened #180 "Document resources configuration support in plugins"
The documentation for the Gradle and Maven plugins currently does not cover support for configuring resources or auto-detection of resources.

[2021-12-06 15:45] sbrannen commented on #176
The annotation search algorithms in JUnit 5 do indeed use a lot of reflection in order to support meta-annotations.

Thus, any repeatable annotation (such as the `@Property` one from Micronaut) will need to opened up for reflection if such annotations are present on methods, constructors, fields, etc. in test classes or test interfaces.

[2021-12-06 16:02] sbrannen commented on #176
Did you have to add reflection configuration for `java.lang.annotation.Retention` and `java.lang.annotation.Target` because of JUnit?

If so, that seems like a bug to me, and I'd like to fix that in JUnit if necessary.

[2021-12-06 16:06] sbrannen commented on #176
In light of that fact, we could probably make the UX better by automatically registering such annotations for reflection.

We already do quite a bit in the [config package](https://github.com/graalvm/native-build-tools/tree/master/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/config) for the Feature.

[2021-12-06 16:07] sbrannen commented on #163
Yes, that's very common. The `SpringExtension` does that, too.

[2021-12-07 20:47] YunaBraska commented on #180
There are many configuration options without description. I guess `resourceIncludedPatterns` that's the option wich should do it, but it doesn't matter what configure, everything gets ignored.
@sbrannen maybe the following helps?

[code]

[2021-12-10 13:41] msailes opened #181 "native-build-tools and mockito-core 4.1.0"
Hi native-build-tools maintainers,

I'm trying to run my mockito unit tests ([example](https://github.com/aws-samples/serverless-graalvm-demo/blob/main/software/products/src/test/java/software/amazonaws/example/product/entrypoints/ApiGatewayGetAllProductRequestHandlerTest.java)) against my native-image build. But I'm getting the following error.

[code]

This can be reproduced with my [serverless-

[2021-12-10 15:52] lazar-mitrovic commented on #181
Mockito is unsupported in `native-image` itself AFAIK due to unstable generated class names.
Fixing this will most likely require a PR on Mockito side.

[2021-12-18 14:27] sdeleuze opened #183 "Introduce disableToolchainDetection DSL property and fix toolchain handling in BaseNativeImageOptions"
Unless I miss something, based on my tests with Liberica NIK only installed (but apply likely to GraalVM EE as well) and no GraalVM CE installation present locally (not easy because `native-build-tools` requires it to be built), even when applying `disableToolchainDetection = true` to `BuildNativeImageTask` implemented as part of #165 I get the following error:

[code]

After a deeper analysis, I

[2021-12-20 08:52] melix commented on #183
I'm going to take a look, but the code you pointed at does the right thing: it's a _convention_ so it doesn't mean that it will be used.

[2021-12-20 09:32] sdeleuze commented on #183
I think it is used one way or another since when I remove it, #165 works as expected.

[2021-12-20 09:34] melix commented on #183
It is used internally by Gradle to snapshot inputs, but the _plugin_ doesn't use it, which is why it's messy. I'm working on a fix.

[2021-12-20 12:03] #183 closed

[2021-12-20 19:01] gradinac opened #185 "--exclude-config native-image flag not working with the native-image Maven plugin"
When creating the argument line for the native-image command, the classpath option (`--cp <classpath>`) is always put first. Native-image will process arguments in the order they appear on the command line (https://github.com/oracle/graal/blob/6e14dfe1d0d6c767eafaebe63b14192e36414a32/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImage.java#L1555)
This means that the `--cp`

[2021-12-20 19:29] sdeleuze commented on #185
To reproduce with Spring Native sample, for example [`webmvc-tomcat`](https://github.com/spring-projects-experimental/spring-native/tree/main/samples/webmvc-tomcat), add the following annotation to `WebmvcApplication`:

[code]

[2021-12-22 15:57] linux-china commented on #143
Close this issue, and it works now with Maven 3.8.4 and maven-toolchains-plugin 3.0.0

[code]

[2021-12-22 15:57] #143 closed

[2021-12-28 18:13] GavinRay97 opened #186 "Using "-Pagent" in Gradle with Graal 22.0.0-dev causes `java.lang.Error: The class ImageSingletons can only be used when building native images, i.e., when using the native-image command.`"
For a reproduction, run `gradle init`, and create a Java Application starter. Add the Graal gradle plugin.

Then, try to use the Polyglot API:
[code]

And run:
[code]

The error I get is:
[code]

Full `build.gradle` configuration is:
[code]

[2021-12-29 06:40] lusou-zhangquan commented on #135
Thanks for your suggestions and I've tried them. But I find that it works for simple junit3 test cases but still not work for BouncyCastle project. Here is the build.gradle cofiguration
[code]
With https://github.com/graalvm/native-build-tools/pull/187, BouncyCastle test cases could work properly at present.

[2022-01-04 18:26] sdeleuze commented on #185
@gradinac Since Spring `@NativeHint` translate into a `native-image.properties` file in the classpath with `Args = --exclude-config foo.jar META-INF/native-image/.*`, I am wondering if we should raise that instead in https://github.com/oracle/graal/issues to fix the root issue. Any thoughts?

[2022-01-05 11:35] lazar-mitrovic commented on #186
`org.graalvm:graal-sdk:0.33` is a really old dependency (published in 2018 about 3.5 years ago). Current artifact is at:
[code]
For dev GraalVM builds you might get away with omitting this dependency entirely if you use javac from `${GRAALVM_HOME}/bin/javac` since newest sdk jar should then be on the classpath by default.

[2022-01-05 12:13] lazar-mitrovic commented on #135
I believe that JUnit3 tests not working in `junit-vintage` engine should be filed as upstream JUnit bug (cc @sbrannen).

[2022-01-05 19:29] GavinRay97 commented on #186
Ah whoops. I googled `graal-sdk maven` and it lead me here, so I copy-pasted the version from this:
- https://github.com/oracle/graal/blob/master/sdk/README.md#getting-started

I probably should have double checked that 😅
![image](https://user-images.githubusercontent.com/26604994/148276251-41e1c32e-461c-4b2e-ab41-f1f3b96c040d.png)

This works -- but only if your code doesn't use the Graal namespa

[2022-01-06 13:37] sdeleuze commented on #185
See https://github.com/oracle/graal/pull/3749#issuecomment-1006597569 related comment where I ask a fix on GraalVM side since the issue is not limited to NBT.

[2022-01-06 15:16] dzou opened #188 "Native plugin fails if no tests are run in a module"
The native-maven-plugin will fail if no tests are run for some module after running `mvn test -Pnative`. It fails with the error "Test configuration file wasn't found. Make sure that test execution wasn't skipped." (No test config file will be written if no tests are run)

Error:
[code]

Repro: https://github.com/dzou/native-plugin-empty-tests

I would expect the tests to just pass if no tests are

[2022-01-06 21:46] hannesd opened #189 "Cannot configure "trace-output" agent option because plugins add "config-output-dir" option by default"
Using the following in the maven plugin's &lt;configuration> section:

[code]
 causes `mvn test` to fail with the following message:

[code]

Looking at the sources of the maven plugin it appears that the plugin explicitly forbids adding the `config-output-dir` but also does not allow me to remove it. I suggest to allow overriding the `config-output-dir` option by the user and not adding the `conf

[2022-01-07 09:22] sbrannen commented on #189
If a change along these lines is made to the Maven plugin, the same will have to be done for the Gradle plugin as well.

[2022-01-07 09:28] sbrannen commented on #189
That's correct. The reason this is done is to ensure that the plugin also knows the location it needs to read the generated configuration files.

If the `config-output-dir` is removed (and therefore no longer under the control of the plugin), the plugin will not be able to automatically use the generated configuration files when building the native image.

So, if we allow the `config-output-dir` t

[2022-01-07 10:39] hannesd commented on #189
Thanks for the insights!

From your answer I'll take it you'd be willing to accept a pull request if the issue is resolved as described by you? If so I will look into it this evening and if successful update my PR (+ sign CA). I'd prefer to let the plugins know where the configuration can be found instead of a warning but I have to dive deeper into the code to tell whether that approach is practic

[2022-01-11 23:24] #186 closed

[2022-01-12 10:16] melix opened #191 "Native testing breaks test cacheability"
If native testing is enabled (and it's enabled by default), then tests caching is broken. More specifically, tests executed from a _different directory_ are not cached.

The Gradle build cache should be able to reuse test results, for example, if the project is checked out in a different directory. However, a system property is added which uses an absolute path:

https://github.com/graalvm/native-

[2022-01-22 15:24] sbrannen commented on #179
PR #193 is ready for review.

[2022-01-25 13:06] lazar-mitrovic opened #194 "Race condition when outputting config during parallel execution of tests in agent mode"
At the moment, when `native-image-agent` is injected into JVM processes that are spawned for test executions we are specifying its output directory as a fixed path.
In Maven plugin this is done here:
https://github.com/graalvm/native-build-tools/blob/5ac47c6760ef05ff1d208c4812625432c8cfbe62/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeExtension.java#L86-L90
In Gradle:
https

[2022-01-25 13:31] melix commented on #194
Let me think about it, but I don't think we should rely on `JAVA_TOOL_OPTIONS`: that's a poor man's solution which is transparent to build tools: there's no way they can know what's going on. Whatever solution we come up with must make sure that the build tool can effectively determine what agent files were generated during a particular invocation. Then if they have to merge them, so be it. I woul

[2022-01-25 13:41] peter-hofer commented on #194
You don't need to use `JAVA_TOOL_OPTIONS` to use the placeholders.

[2022-01-25 17:24] lazar-mitrovic commented on #194
That makes sense. So the process should look something like this:

1. Amend agent invocation
[code]
2. Add a new step that merges configuration after JVM execution
[code]
  #190 should probably be merged beforehand.

[2022-02-01 11:04] melix commented on #194
I am looking into implementing this with Gradle. A couple questions:

- is the `native-image --macro:native-image-configure-launcher` valid on any GraalVM installation? In particular, I'm interested in knowing if it would work with GraalVM CE, GraalVM Enterprise Edition in different versions, as well as 3rd party GraalVM SDKs like BellSoft
- what is the `native-image-configure-launcher` script ext

[2022-02-01 13:08] #179 closed

[2022-02-01 14:04] melix commented on #194
So I have something which works with Gradle and GraalVM CE, but unfortunately this breaks with Liberica:

[code]

[2022-02-01 14:10] vjovanov commented on #194
You can always use the one from GraalVM.

[2022-02-01 14:40] melix commented on #194
Not sure I understand: are you suggesting that the plugin bundles a tool which is generated by GraalVM CE? I'm a little nervous at the idea of doing this, not knowing what the target platform is.

[2022-02-01 15:00] lazar-mitrovic commented on #194
@melix
Don't use `native-image --macro:native-image-configure-launcher`, use `$GRAALVM_HOME/bin/native-image-configure`
`native-image-configure` is built the same way as `native-image`, so extension on Windows is `.cmd`

[2022-02-01 15:06] melix commented on #194
`native-image --macro:native-image-configure-launcher` is used to `generate` the `native-image-configure` script. It's absent by default on installs, as per [the docs](https://www.graalvm.org/22.0/reference-manual/native-image/Agent/#native-image-configure-tool). Unfortunately, this doesn't work for Liberica, which misses the script and the macro.

[2022-02-01 15:08] melix commented on #194
I guess alternatively we could merge ourselves? Is the merging process documented?

[2022-02-01 15:46] melix commented on #194
I don't have it locally, as the error above shows, in `21.3.0`. I think it's a problem if we have something which only works for 21.3.1+, it's IMO unexpected.

[2022-02-01 16:08] lazar-mitrovic commented on #194
For GraalVM < 21.3.1 I'd for the time just leave multiple directories and throw a warning that configuration isn't merged.
For some later release we could look into finding a way to automatically fetch `native-image-configure` executable (standalone native compiled executable is around 14MB).

[2022-02-01 16:37] melix commented on #194
I'm working on the Maven implementation now. I'll add this to the PR linked above.

[2022-02-01 18:46] mpeddada1 opened #196 "System Properties specified in maven-surefire-plugin not available at run-time"
Hi all, thank you for this great project!

We’re trying to run tests using System Properties defined in the maven-surefire-plugin but it looks like these properties are not getting recognized during run time.

Here is a reproducer this issue:  https://github.com/mpeddada1/native-image-system-properties.

Running `mvn test -P native` at the root of the project results in the System property being n

[2022-02-02 22:07] vjovanov opened #197 "Option to specify external configuration in a principled way"
We need to provide a way to specify externally the reachability configuration for the dependencies of the project. The format of the external configuration folder is TBD
 but it will follow a convention that allows mapping from a dependency's artifact ID to the config files.

The first proposal for the DSL entry:

[code]

In the first version, the configuration would be provided locally. Later we

[2022-02-03 08:20] #191 closed

[2022-02-03 13:35] nassimus26 opened #198 "nativeRun failed on windows du to the "EXE" extention"
Running the command gradlew :nativeRun --stacktrace on windows 10 and version  0.9.4 of the `org.graalvm.buildtools.native`

print this :

[code]

[2022-02-03 13:56] melix commented on #198
Thanks, I think the bug is here: https://github.com/melix/native-build-tools/blob/e0e4492483fc19b7c24f123a3a973f4260ff040f/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/tasks/BuildNativeImageTask.java#L110

This line should be:

[code]

[2022-02-04 12:12] #198 closed

[2022-02-07 13:00] #151 closed

[2022-02-07 17:29] lazar-mitrovic commented on #196
We have this option on Gradle plugin:
[code]
but it seems to be missing on Maven side.

[2022-02-09 09:36] #194 closed

[2022-02-09 17:15] lazar-mitrovic opened #203 "Use @argFiles to pass `native-image` invocation"
Starting GraalVM 21.3, `native-image` supports [`@argument file` ](https://medium.com/nipafx-news/java-argument-files-affiliations-and-lego-f5348e361f30) command line option.

Configuring NBT to use argument files generated in temporary directory would solve long classpath issue on Windows (without using workarounds such as shading) once and for all.

Version checking might be necessary to fallbac

[2022-02-11 16:05] #203 closed

[2022-02-14 03:44] gradinac opened #206 "Support the conditional configuration mode of the native-image-agent"
The goal of this ticket is to serve as a discussion point for supporting the conditional configuration generation mode of the native-image-agent.

Once https://github.com/oracle/graal/pull/4270 is merged, the native-image agent will support automatically generating conditional native-image configuration. This mode will mostly be useful for library authors, as well as creators of component based ap

[2022-02-15 12:08] sdeleuze opened #207 "-DagentOptions=access-filter-file=access-filter.json not taken in account"
As shown in [this branch](https://github.com/sdeleuze/spring-native/commit/test-agent) with the `samples/commandlinerunner-agent` project, passing `-DagentOptions=access-filter-file=access-filter.json` (I also tried the absolute path variant) does not seems to be taken in account (no filtering of JUnit entries for example) while it works when specified in the `pom.xml`:

[code]

To be checked on G

[2022-02-15 12:15] sdeleuze opened #208 "Rework or remove agent configuration merging"
As shown in [this branch](https://github.com/sdeleuze/spring-native/commit/test-agent) with the `samples/commandlinerunner-agent` project, when executing `mvn -Pnative -Dagent=true -DskipNativeTests clean test package` the execution fails because `native-image-configure generate --output-dir=/home/seb/workspace/spring-native/samples/commandlinerunner-agent/target/native/agent-output/test` do not p

[2022-02-16 12:59] melix opened #209 "Use @arg file for running native binaries"
Release 0.9.10 fixed the long classpath issue when _building_ a native image, but it didn't fix the problem when running tests, or when running the native binary.

It is extremely likely that only the Maven plugin is affected https://github.com/graalvm/native-build-tools/blob/0.9.10/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeTestMojo.java#L141-L147

because the `test` moj

[2022-02-16 13:50] sergey-morenets opened #210 "Document that Gradle plugin requires `java-library` or `application` plugins to be set"
Hi

I tried to use Gradle plugin as mentioned in the documentation: https://graalvm.github.io/native-build-tools/0.9.10/gradle-plugin.html

build.gradle.kts:

[code]

settings.gradle.kts:

[code]

However when I try to run native build: **gradle nativeCompile** I get the error message:

`Task 'nativeCompile' not found in root project`

and **gradle tasks** command doesn't print any tasks related t

[2022-02-16 14:07] melix commented on #210
The plugin won't do anything by itself if you don't have either the `java-library` (for libraries) or `application` (for applications) plugin applied: it works _in addition_ to your regular Java plugins.

[2022-02-16 14:12] sergey-morenets commented on #210
Thank you, @melix

I already discovered that by looking at the samples. So this configuration in build.gradle.kts worked for me:

[code]

But I guess it would be nice to add few words about java-library/application in the documentation.

[2022-02-16 14:24] melix commented on #210
Agreed.

[2022-02-18 16:42] mpeddada1 commented on #196
Thank you for your response and the background info @lazar-mitrovic! We were able get a workaround for this by initializing the class that uses the extra arguments at build-time.

[2022-02-21 14:09] matus-gazo opened #213 "nativeCompile results always in Error: Main entry point class 'com.xxx.Application' not found."
Hello all,

I am running into a weird problem with the plugin (v0.9.10) where it always ends up with an error about not able to find the Main entry point class. Funnily enough I am able to do a build with Paketo/ gradle bootBuildImage just fine and I also do see the *.jar with class in the -imagecp classpath and also in the generated args file, so not sure what's wrong.

Any ideas please?
Much app

[2022-02-22 08:34] moarychan opened #214 "When executing native-image.cmd xx, the message 'The command line is too long' causes failure"
In Windows 11, I'm using Spring Native to build the Spring Cloud Azure Samples, when using the maven command `mvn clean package -Pnative -DskipTests` to build native image, the 'The command line is too long' problems can easily arise. I've streamlined a lot, but it's still over the max limit.

The MS recommended solution is here https://docs.microsoft.com/troubleshoot/windows-client/shell-experien

[2022-02-22 09:08] lazar-mitrovic commented on #214
#205 should have fixed that.
Bump plugin version to 0.9.10 to try it out.

[2022-02-22 09:11] lazar-mitrovic commented on #214
Relevant docs: https://graalvm.github.io/native-build-tools/0.9.10/maven-plugin.html#long_classpath_and_shading_support

[2022-02-22 09:21] lazar-mitrovic opened #215 "Allow setting environment variables for task execution"
Standard Gradle tasks support injecting environment variables into standard execution tasks like:
[code]
It would be nice if we supported this (both in Gradle and Maven). IMO one should be able to inject variables for each native binary (e.g. both run and test).

While fixing this we could also tackle https://github.com/graalvm/native-build-tools/issues/196 as it is relatively similar in scope.

[2022-02-22 10:17] moarychan commented on #214
@lazar-mitrovic , I use this pom file https://github.com/graalvm/native-build-tools/blob/0.9.9/samples/java-application/pom.xml, it works for me, thanks a lot.

[2022-02-22 10:17] #214 closed

[2022-02-22 16:57] #196 closed

[2022-02-23 15:49] oehme opened #218 "NativeImagePlugin configures wrong test results dir"
https://github.com/graalvm/native-build-tools/blob/4f02438a5da9e30d4352dc18c966bf789caf9486/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/NativeImagePlugin.java#L384

This makes the global test results dir an output, which means it will overlap with every other `Test` task in the project, preventing caching.

[2022-02-23 15:51] melix commented on #218
Oh good catch, it should have been the test list file instead.

[2022-02-28 11:59] #218 closed

[2022-03-08 15:52] fniephaus opened #221 "Better error when `classpath` is empty."
I tried setting up the native build tools in an existing Maven project and put the config into the wrong `pom.xml`. I then ended up with a weird looking problem that the build args were put into the middle of the command that invokes native-image.

As it turned out, the `classpath` was empty and in `NativeBuildMojo.java`, the classpath is unconditionally added to the list of arguments:

https://gi

[2022-03-09 16:45] lestephane opened #222 "Example of how to use the plugin to produce and consume a PGO file"
**Is your feature request related to a problem? Please describe.**
I found this page https://www.graalvm.org/22.0/reference-manual/native-image/PGO/

**Describe the solution you'd like**
I'd like to understand how to produce and consume the PGO file describe in that page using the gradle plugin.

[2022-03-11 10:49] lestephane commented on #222
I don't get it. The `binaries` section only allows me to have a `main` and `test` binary. The `main` binary will get  the extra `buildArgs.add('--pgo=<path_to_profile>')`. That much is clear.

What I'm wondering is where the `buildArgs.add('--pgo-instrument')` goes. Because it is related to a third binary (`pgo`, `instrument`) which runs as a simple program with a main method, and tries to exercis

[2022-03-11 12:43] lazar-mitrovic commented on #222
Oh I see, sorry for closing this issue so quickly.

If I understand correctly there are several issues here:
1. Registering non-test binaries other from `main`. We have `registerTestBinary` but this wouldn't fit the PGO use-case as it explicitly specifies main class (if I'm correct @melix).
2. First party support for PGO in `native-build-tools`. This is something that we should do, but we haven't

[2022-03-11 15:22] lestephane commented on #222
Thanks for re-opening. If I come up with a workaround worth sharing in the meantime, I'll share what I can.

[2022-03-17 13:20] #97 closed

[2022-03-18 08:58] melix commented on #197
Fixed by #204 for Gradle. The name of the configuration block is currently `jvmReachabilityMetadataRepository`, which is a bit mouthful but accurate. We can shorten this to `metadataRepository` if needed.

[code]

[2022-03-18 09:38] sdeleuze commented on #197
+1 for using `metadataRepository`, in the context of being nested inside `graalvmNative` and properly documented that seems good enough to me.

[2022-03-18 16:28] melix opened #224 "The `@argfile` doesn't work with spaces in paths"
See https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/401

If a path element contains a space, then the file we generate contains an invalid path entry which prevents native image from running properly.

[2022-03-21 09:19] #224 closed

[2022-03-31 07:29] melix opened #227 "Build fails if `java.io.tmpdir` contains a space"
See https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/401#issuecomment-1083747919

[2022-03-31 20:50] gradinac commented on #206
The best way to support this feature would be to introduce agent modes as described in the issue. The modes would not map directly to an agent command line, but could run arbitrarily complex steps in the background. The proposed format, based on
https://github.com/graalvm/native-build-tools/pull/190#issuecomment-1030592573, would be:
[code]
The agent configuration block would be divided into two p

[2022-04-09 08:43] ngeor commented on #180
Thanks @YunaBraska this fixed it for me as well.

I noticed that with ".*" the resulting binary grew 10x in size, even though I only have one small toml file in my resources. So I switched the expression to

[code]

which did the trick without exploding the size of the image.

[2022-04-13 15:01] mpeddada1 commented on #188
Hi @sbrannen, thanks again for a great product! Just checking in, do we have any updates on this issue?

[2022-04-21 14:20] lazar-mitrovic opened #228 "Ensure Mockito is supported out-of-the-box"
**Is your feature request related to a problem? Please describe.**
With Mockito 4.5.0 and ByteBuddy 1.12.9 releases it should now be possible to build tests that are using Mockito mocks - albeit with a few configuration options required.

**Describe the solution you'd like**
We should make sure that user doesn't need to configure anything on his part - If we detect that Byte Buddy is present we sh

[2022-04-21 14:25] #181 closed

[2022-04-22 13:17] alvarosanchez commented on #188
@sbrannen I have taken a look at this. The problem in the reproducing example is that `empty-test-module` comes before `simple-module`. The latter do have tests, but we are halting the execution prematurely in the former.

I find it more appropriate to just warn about it and let the reactor execution continue. What do you think?

[2022-04-29 22:19] yogurtearl opened #229 "404 error: https://github.com/graalvm/jvm-reachability-metadata/"
**Describe the bug**

This doc
https://github.com/graalvm/native-build-tools/blame/e2e8faf4f46a2a1b34e8679b88693854958a3638/docs/src/docs/asciidoc/gradle-plugin.adoc#L341

links to https://github.com/graalvm/jvm-reachability-metadata/ but that repo gives a 404 response

Also, that repo is referenced in code:
https://github.com/graalvm/native-build-tools/blob/e2e8faf4f46a2a1b34e8679b88693854958a363

[2022-05-10 13:32] vjovanov opened #231 "Metadata repo integration for Maven"
The section should mimic the one from Gradle:

https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#metadata-support

[2022-05-10 13:37] melix commented on #231
Well, metadata is not implemented for Maven yet :)

[2022-05-10 16:42] miho opened #232 "Plugin fails to execute nativeBuild task on Windows ()"
**Describe the bug**

- os:
- plugin id: `id 'org.graalvm.buildtools.native' version '0.9.11'`
- graalvm:

The plugin fails to execute the `nativeBuild ` task and fails with

    Fatal error: Unsupported OptionOrigin: C:\Users\devuser\AppData\Local\Temp\native-image4967625859144225621args

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**

The task should complete wi

[2022-05-11 06:30] westinyang opened #233 "BUILD FAILURE native-image4410539994237792834args returned non-zero result"
Using the native-build-tools maven plugin, from version 0.9.10 and later, it will prompt that the build fails, the previous version will not have this problem, the graalvm version I use is 22.1.0, the following is the detailed error log:

[code]

[2022-05-11 07:30] melix commented on #233
Duplicates #232

[2022-05-11 07:30] #233 closed

[2022-05-11 09:43] sdeleuze opened #234 "Duplicated classpath entries break tests with GraalVM 22.1+"
It seems that at least with the Maven plugin, NBT provide duplicated classpath entries leading to issues like the one described with https://github.com/oracle/graal/issues/4493 or https://github.com/spring-projects-experimental/spring-native/issues/1584.

After a deeper look in the logs, and as pointed one by @olpaw, I see that the plugin pass to `-imagecp` both `/home/seb/workspace/spring-native/

[2022-05-13 10:00] lazar-mitrovic commented on #188
Applicable to Gradle as well:
[code]

[2022-05-14 11:29] lost4git commented on #232
update to version graalvm-nightly-jdk17@22.2.0-dev-20220513_2122 can resolve it

[2022-05-15 05:20] kazuki43zoo opened #235 "Ignored JEP-290 serial filter settings running with GraalVM 22.2 latest dev version"
**Describe the bug**
I used the latest GraalVM dev version(22.2) on Github Action, it ignored the JEP-290 serial filter settings.

**To Reproduce**

[Repro Project]

* https://github.com/kazuki43zoo/spring-native/tree/gh-24-apply-workaround/samples/cache

[JEP-290 serial filter settings]

* https://github.com/kazuki43zoo/spring-native/blob/gh-24-apply-workaround/samples/cache/pom.xml#L143

[Actual

[2022-05-16 09:42] sbrannen commented on #188
Yes, just warning about the situation would be better.

In any case, a multi-module/project build (Maven or Gradle) should not fail if some of the modules/projects don't have tests.

[2022-05-16 10:55] lazar-mitrovic commented on #235
This might be a regression in GraalVM itself (https://github.com/oracle/graal).
It doesn't seem to be related to native-build-tools so filing an issue on that repository might get you better visibility 🙂

[2022-05-16 10:58] kazuki43zoo commented on #235
@lazar-mitrovic Thx! I will create a same issue to GraalVM issue tracker.

[2022-05-18 13:55] snicoll opened #237 "Allow classpath to be built without relying on the main jar artifact"
**Is your feature request related to a problem? Please describe.**
The plugin [currently lets us](https://github.com/graalvm/native-build-tools/blob/92a0aee58c93513e2b556943690df875b1e55ba7/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeBuildMojo.java#L118-L127) build the classpath ourselves or use a default that includes compile and runtime dependencies, as well as the main

[2022-05-18 15:58] davecramer commented on #213
I have the same issue, even though I can copy the exact arguments and run it manually and it works
[code]

However `gradlew nativeCompile' fails with `Error: Main entry point class '@/var/folders/nx/ghf_9dtj429390tmrybbf7w80000gr/T/native-image16394532788938476208args' not found.`

[2022-05-18 16:05] davecramer commented on #213
@melix thx, that worked!

[2022-05-20 18:48] jvmusin opened #238 "[QUESTION] Image is not building via Gradle plugin when it's building manually just well"
**Describe the problem**
I have a Ktor project which builds into a native image using graalvm from [the official Ktor GraalVM sample](https://github.com/ktorio/ktor-samples/tree/main/graalvm) with instructions on [ktor.io](https://ktor.io/docs/graalvm.html).

When I build a project following the instruction it works just well.

Then I added the plugin `id("org.graalvm.buildtools.native") version "

[2022-05-20 21:16] lazar-mitrovic commented on #238
Hi Rustam,
There is actually a really subtle bash bug in `build.sh`:
[code]
This results in trying to initialize non-existent `org.slf4j-H:+ReportUnsupportedElementsAtRuntime` package at build time instead of `org.slf4j`, so `org.slf4j` is actually initialized at run time 🙂.

When you are running `native-gradle-plugin`, your config does the correct thing and actually makes `org.slf4j` build time i

[2022-05-23 10:35] #188 closed

[2022-05-23 11:43] alvarosanchez commented on #232
Another option is to not use the args file, and use the old mechanism to avoid long classpath issue on Windows, described here: https://graalvm.github.io/native-build-tools/0.9.9/maven-plugin.html#long_classpath_and_shading_support

With 0.9.11+ and GraalVM 22.1.0, this would be something like the following:

[code]

[2022-05-23 13:38] jvmusin commented on #238
Cool, thank you really much @lazar-mitrovic!

[2022-05-23 14:33] lazar-mitrovic commented on #238
@jvmusin I moved `reflection.json` to `src/main/resources/META-INF/native-image/reflect-config.json` since it then gets automatically detected by `native-image`. It is documented a bit [here](https://www.graalvm.org/22.0/reference-manual/native-image/Agent/), but we are currently working on a PR that will properly explain metadata usage.

I disabled `enable-all-security-services` since it is a dep

[2022-05-23 21:43] chirontt commented on #232
@alvarosanchez thanks a lot for the tip about the "useArgFile" configuration parameter; this parameter works around the problem of `Unsupported OptionOrigin` in Windows, and it works for both Gradle and Maven native build tools plugins, to boot.

[2022-05-31 08:41] #231 closed

[2022-05-31 12:45] lazar-mitrovic commented on #189
I believe #230 fixed this by changing the way we are configuring agent.

[2022-05-31 12:45] #189 closed

[2022-05-31 12:49] #206 closed

[2022-05-31 12:54] lazar-mitrovic commented on #101
Windows testing is blocked by https://github.com/gradle/native-platform/issues/274 and the following error for maven: https://github.com/graalvm/native-build-tools/blob/5e702c36415561a3e4057d9a94b485d889ff09c0/.github/workflows/test-native-maven-plugin.yml#L53

[2022-06-01 09:55] vjovanov opened #243 "Avoid using @argfile on Linux and macOS"
This makes it hard to see the command line that was used and makes people confused. We should use `@argfiles` only on Windows where it is necessary.

[2022-06-01 10:31] vjovanov commented on #243
Don't think people have such attention span these days.

[2022-06-01 10:38] alvarosanchez commented on #243
I'm not saying to not do this. Just pointing out an existing alternative

[2022-06-04 16:33] alexanderankin opened #246 "[QUESTION] how to set the gradle agent DSL Flag?"
**Describe the problem**
I am trying to automate the running of the tracing agent task in order that my native image task can generate a usable image without any manual copying steps.

**Make sure that you have read [the documentation](https://graalvm.github.io/native-build-tools) and that you are using the latest plugin version.**
I am referring to [https://graalvm.github.io/native-build-tools/la

[2022-06-04 16:52] alexanderankin commented on #246
the replacement code in my additional context works btw, the question is more about the documentation -- i even took a look at the source code and its not obvious to me where the programmatic flag is that replace `-Pagent`

[2022-06-10 15:45] #221 closed

[2022-06-10 15:45] #243 closed

[2022-06-13 10:15] olpaw commented on #185
@gradinac this should be fixed now with https://github.com/oracle/graal/commit/006c61dccc163c1c95db47339a33464c191cc50f
See also https://github.com/oracle/graal/pull/3749#issuecomment-1153730446

[2022-06-15 10:58] lazar-mitrovic commented on #197
Fixed by #204, #240 and #247.

[2022-06-15 10:58] lazar-mitrovic commented on #197
Fixed by #204, #240 and #247.

[2022-06-15 10:58] #197 closed

[2022-06-15 11:31] lazar-mitrovic commented on #208
@sdeleuze Can you retest this since #230 and #247 got merged?

[2022-06-15 15:23] jvmusin opened #250 "[QUESTION] Gradle Plugin has `junit-jupiter` in runtime"
Hi. The gradle build plugin has an implementation (not test one) dependency on `junit-jupiter` in utils project: https://github.com/graalvm/native-build-tools/blob/a9b5900e4f333294281e1444931febfb8a1cc261/common/utils/build.gradle.kts#L54

Was this made intentionally? If so, why?
I want to reuse your plugin by applying your plugin transitively inside my own plugin and it's strange to see `junit-ju

[2022-06-15 16:48] melix commented on #250
You are absolutely right, those should be test dependencies!

[2022-06-15 18:43] #250 closed

[2022-06-15 18:56] lazar-mitrovic commented on #208
Well we have https://github.com/graalvm/native-build-tools/blob/master/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/MergeAgentFilesMojo.java .

If it isn't working for this use-case I'd be happy to rework agent files merging in the near future.

[2022-06-16 07:53] sdeleuze commented on #208
Ok I will test it today and comment here with the outcome.

[2022-06-16 14:02] sdeleuze commented on #208
Works as expected, even if it would be nice to support the use case "run agent for test in order to compute main native config" with less verbose Maven configuration, see https://github.com/spring-projects-experimental/spring-native/issues/1247#issuecomment-1157695915.

Maybe we can close this issue for 0.9.12 and I will create a new one to polish the use case described above?

[2022-06-22 13:09] sdeleuze opened #253 "Restore `NativeImagePlugin.NATIVE_TEST_EXTENSION`"
`NativeImagePlugin.NATIVE_TEST_EXTENSION` removed [here](https://github.com/graalvm/native-build-tools/commit/4fe4210657ee53b945cc037ab268fe41157c0eb6#diff-3ca19e7e49fe64feca3a1e88279c961b56e03450666583025c711da44cfb73bbL138) by mistake should be restored as it is part of NBT public API and can be used by other plugins like [the Spring Native one](https://github.com/spring-projects-experimental/sp

[2022-06-24 23:42] jvmusin opened #254 "Agent enabling does not work"
**Describe the bug**
When I run `nativeCompile` with enabled agent, I expect the application will run with an image attached, but instead it just builds an image. This feature worked in `0.9.11`.

**To Reproduce**
Download the sample and run `nativeCompile`. The buildfile looks like this:
[code]

**Expected behavior**
The application runs and when I stop it, the agent creates `.json` configuration

[2022-06-27 11:36] lazar-mitrovic commented on #254
Agent usage has changed in this release (see [changelog](https://graalvm.github.io/native-build-tools/latest/index.html#_release_0_9_12)).
Now you need to invoke `metadataCopy` task in order to explicitly copy agent generated metadata into the project sources. New usage is documented [here](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#agent-support).

I'll close this issu

[2022-06-27 11:36] #254 closed

[2022-06-27 11:46] lazar-mitrovic commented on #246
Up until `0.9.12` release DSL option for this flag was:
[code]
See [the docs](https://graalvm.github.io/native-build-tools/0.9.11/gradle-plugin.html#_configuration_options) for more info.

However, in 0.9.12 we completely reworked [how the agent configuration works](https://graalvm.github.io/native-build-tools/0.9.12/gradle-plugin.html#agent-support), so now it is required to manually specify `-Pa

[2022-06-27 11:46] #246 closed

[2022-06-27 12:53] mhalbritter opened #255 "GraalVM 22.2: Test execution in native-image fails"
Using the latest available dev snapshot for 22.2

[code]

Running our spring native `commandlinerunner` sample with `./build -t` which executes native tests fails:

[output.txt](https://github.com/graalvm/native-build-tools/files/8992141/output.txt)

[code]

[2022-06-28 10:21] #253 closed

[2022-06-28 18:03] jvmusin opened #259 "Unable to create `.json` configuration files following the documentation of Gradle plugin"
**Describe the bug**
When I `./gradlew -Pagent run` an application, do some operations with it and close it **not** gracefully (imagine an application like `while (true) { ... }` and killing it), the agent creates `.json` files not in `build/native/agent-output/run`, but in `build/native/agent-output/session-4671-20220628T174143Z` (of smth like that). Because of that, the following task `./gradlew

[2022-06-28 18:34] jvmusin commented on #259
I used a documentation here: https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#agent-support

[2022-06-28 18:47] jvmusin commented on #259
Btw after reverse engineering a bit, I found a WA: you can replace `--task run` with `--task run/session-4671-20220628T174143Z`

[2022-06-29 10:37] lazar-mitrovic commented on #259
That session folder is used in order to make sure that concurrent agent runs don't overwrite each-others outputs -- it should at a later stage be merged using a dedicated task, however SIGKILL prevents that task from ever executing.

What it looks to me is that we need to implement a watchdog that would finalize agent processing.
WDYT @melix?

[2022-06-29 10:40] lazar-mitrovic commented on #255
Fixed by #258

[2022-06-29 10:40] #255 closed

[2022-06-29 10:46] lazar-mitrovic commented on #209
I'm not sure what this issue is about - argument file is only used for building native images.
[`NativeImageJUnitLauncher`](https://github.com/graalvm/native-build-tools/blob/master/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/NativeImageJUnitLauncher.java) doesn't support `@` files, and I can't see where this would be a problem since it only consumes [3 different argument

[2022-06-29 12:02] melix commented on #259
I'm not sure that would be easy to do. Hitting CTRL+C will interrupt the Gradle build and it is expected, from my POV, that it doesn't do _more_. Maybe we should document this behavior instead, and recommend to have a stop endpoint in the application to shutdown it cleanly (e.g [https://docs.micronaut.io/latest/guide/#stopEndpoint](what Micronaut offers).

[2022-06-29 12:21] jvmusin commented on #259
This also happens when an application ends with an exit code != 0 or with an exception.

[2022-06-29 12:30] jvmusin commented on #259
Even when I use `./gradlew -Pagent run --continue`, it creates config files in `run/session-...` subdirectory and not in just `run`.

[2022-06-29 14:23] lazar-mitrovic opened #260 "Add agent modes to Maven plugin"
Similar to #230 for Gradle plugin, we should implement something similar for the Maven plugin:
[code]

[2022-06-29 15:30] jvmusin opened #261 "Allow running an app with an agent attached through other tasks"
**Is your feature request related to a problem? Please describe.**
I'm building a plugin that allows to package applications in different formats, such as fatjar, docker, **native** etc.
In the previous version of the graalvm plugin (`0.9.11`) I could set `agent.enabled.set(true)` and then run `nativeCompile` to run an application and produce configuration files.

In the latest version of the plug

[2022-06-29 16:29] lazar-mitrovic commented on #261
This was an intentional change - user shouldn't run agent with every invocation.
Instead, agent should be ran once and then its configuration should be persisted in the application resources along with the code (using the `metadataCopy` task).

[2022-06-29 16:33] jvmusin commented on #261
I agree with that and that's okay.
I only want you to allow setting this 'agent' flag in the configuration phase.

[2022-06-29 16:53] lazar-mitrovic opened #262 "Remove deprecated Gradle features"
ATM there is a lot of `forUseAtConfigurationTime`, `JavaPluginConvention` etc. scattered throughout Native Gradle Plugin.
We should get rid of them before the Gradle 8.0 release (whenever that might be).

[2022-06-30 02:40] #135 closed

[2022-06-30 08:01] melix commented on #261
I think it makes sense, as in general you don't want options which only work from CLI.

[2022-06-30 15:09] #261 closed

[2022-06-30 15:31] lazar-mitrovic commented on #213
@matus-gazo Would you mind testing with the latest release (0.9.12)?

[2022-06-30 15:49] lazar-mitrovic commented on #100
Related Gradle Roadmap entry: https://github.com/gradle/build-tool-roadmap/issues/29

[2022-07-08 08:06] graemerocher opened #267 "Introduce flags to activate native debugging and quick build"
Currently there is no easy way to access super common functionality like activating native image debugging and quick builds.

This proposal is to extend the build tooling for both Gradle and Maven to surface this functionality without having to resort to build configuration.

This is also critical for the long term integration of the build tooling into IDEs but mostly importantly developers can de

[2022-07-08 09:00] alvarosanchez commented on #267
In the case of Maven, the flags already exist:

[code]

[2022-07-08 09:21] melix commented on #267
For the record, this is how a _task_ can override a property based on a CLI option:

[code]

this would let the user invoke with `--flag`, which would set the value of the `flag` property, overriding whatever is used in the DSL.

[2022-07-08 11:35] graemerocher commented on #267
In that case the task is to implement the same for Gradle

[2022-07-11 12:43] matus-gazo commented on #213
Unfortunately still the same error...

[2022-07-11 18:48] mstine commented on #232
FWIW, the old shading mechanism doesn't work with Spring, which was one of the motivators for args file support. Any word on when we'll see a proper fix?

[2022-07-12 11:26] sdeleuze commented on #260
Concrete use case that will hopefully be solved by this issue : allowing Spring native agent sample to remove [this usage](https://github.com/spring-projects-experimental/spring-native/blob/main/samples/commandlinerunner-agent/pom.xml#L36-L56) of `maven-antrun-plugin`

Unrelated : I am quite puzzled by the DevXP people get with everything in red in the IDE :
![image](https://user-images.githubuser

[2022-07-12 14:09] alvarosanchez commented on #260
The reason why those elements are in red is because the generated `META-INF/maven/plugin.xml` has all the descriptions as `<description></description>`.

When building a Maven plugin with Maven, those are taken from the Javadoc. In the case of our Gradle-based build, I'm not sure yet what is the missing piece that makes them to be empty.

[2022-07-13 05:19] alvarosanchez commented on #260
Sorry, I misread your comment. What I described would cause the existing config elements to not have documentation (eg by pressing F1).

`agent` in particular is in red because it's not part of `plugin.xml`, as is being read by `NativeExtension` as you described.

One possible workaround would be to add `agent` and its nested options as `@Parameter`s to any mojo (even if unused now). But probably

[2022-07-14 10:18] lazar-mitrovic commented on #232
This issue was fixed in GraalVM (see https://github.com/oracle/graal/pull/4561) so it will land in upcoming release (22.2).
Only workaround that we could implement until then would be to move `argFile` location to a relative directory (perhaps `build/tmp/native-image4967625859144225621args`) but I'm not sure if that is good idea, WDYT @melix?

[2022-07-14 11:42] mstine commented on #232
Thanks - what's the best way to understand the timeline for GraalVM releases?

[2022-07-14 12:25] lazar-mitrovic commented on #232
Version roadmap is hosted here: https://www.graalvm.org/release-notes/version-roadmap/
You can try nightly versions from here: https://github.com/graalvm/graalvm-ce-dev-builds/releases

[2022-07-14 15:10] zingermax commented on #232
setting  <skip>false</skip> causing build task to fail with message :
" The command line is too long."

[2022-07-15 07:22] sdeleuze commented on #260
So after the refactoring, will users have proper autocompletion and not anymore everything in red in IDEs?

[2022-07-18 13:28] sdeleuze opened #268 "Support reachability metadata override flag"
This issue is about supporting the new reachability metadata `override` flag described in oracle/graalvm-reachability-metadata#9 by generating the relevant `--exclude-config` native image parameters (see also #185 related issue). This can be tested with Netty 4.1 artifacts once the related metadata will be contributed to the reachability metadata repository (see oracle/graalvm-reachability-metadat

[2022-07-20 15:31] jvmusin opened #269 "Gradle plugin creates incorrect `reflect-config.json` entries"
**Describe the bug**
In some cases, the plugin creates incorrect `reflect-config.json` file with an empty `parameterTypes` for methods.

**To Reproduce**
Take the attached project, it contains three commits with working (`0.9.11`) version and non-working (`0.9.12` and `0.9.13`).
For `0.9.11` version you can have an empty Ktor project with this `build.gradle.xml`:
[code]

To finish the program, ple

[2022-07-20 22:28] mpeddada1 opened #270 "`NullPointerException` when using 0.9.12 and later to run tests with native image compilation"
**Describe the bug**
Running a simple test with `native-maven-plugin` 0.9.12 and later is resulting a `NullPointerException` at build time.

**To Reproduce**
Reproduce: https://github.com/mpeddada1/junit-testrule

**Expected behavior**
The tests run successfully with the versions in question.

**Logs**
Following the steps in the README of the reproducer is resulting in this stacktrace:

[code]
[Sn

[2022-07-20 23:47] suztomo commented on #270
Can you run the Maven command with "-X" (debug) and copy-paste it in https://gist.github.com  ?

[2022-07-21 00:31] mpeddada1 commented on #270
Yes, I've edited the issue description above to include a snippet of the stacktrace determine from `-X`.

[2022-07-21 01:00] suztomo commented on #270
Nice. It shows the exact line number that hit NullPointerException. Let's wait for the maintainers.

[code]

[2022-07-21 11:04] levee223 opened #271 "native-gradle-plugin logged extra messages since 0.9.12"
**Describe the bug**
Since native-gradle-plugin 0.9.12, extra messages starting with `[native-image-plugin] Instrumenting task with the native-image-agent:` are logged with LIFECYCLE level.

**To Reproduce**
1. Clone native-build-tools repo.
2. Run a gradle build task in NBT's example Java application.
   ![image](https://user-images.githubusercontent.com/28427547/180189256-4be83e9c-3905-4e76-997f

[2022-07-22 12:27] gradinac opened #272 "Extra quotes in system properties added to the image builder in the Gradle plugin"
When using the Gradle plugin on Linux and passing additional system properties through the `systemProperties` map, the value of these properties is passed with extra quotes to the image builder.
This happens because we unconditionally append quotes around system properties before passing them along.
When using an argfile, these quotes will be removed, but if directly passing the arguments to the `

[2022-07-22 13:15] sdeleuze commented on #268
Likely not necessary, we can exclude builtin config via an embedded `native-image.properties` as of GraalVM 22.2.

[2022-07-22 15:01] snicoll opened #273 "Allow to run `native:build` from the command-line"
**Is your feature request related to a problem? Please describe.**
It is not possible to run `./mvnw native:build` consistently from the command-line. If you run this goal from a project that you've never built before (i.e. `target` does not exist yet), this yield the following:

[code]

However, if `package` has run before (potentially with outdated source) it will pick the state of the "latest"

[2022-07-25 08:07] melix opened #275 "Gradle plugin doesn't support environment variables"
The Gradle plugin, unlike the Maven one, doesn't let the user pass specific environment variables. This prevents, for example, from passing the `USE_NATIVE_IMAGE_JAVA_PLATFORM_MODULE_SYSTEM` variable to the builder.

[2022-07-25 13:27] #229 closed

[2022-07-26 10:04] melix commented on #209
I agree that this should be good, I'm closing this, let's create a new issue if something arises.

[2022-07-26 10:04] #209 closed

[2022-07-26 17:23] miho commented on #232
With 22.2 being released, the issue has been solved for me. Thanks for looking into it.

[2022-07-26 17:23] #232 closed

[2022-07-27 03:22] xzxiaoshan opened #276 "What is the difference between native-image-maven-plugin and this plugin ?"
What is the difference between native-image-maven-plugin and this plugin ?

3Q~

---beginner personal

[2022-07-27 05:54] alvarosanchez commented on #276
None. Native Build Tools is the new name

[2022-07-27 05:54] #276 closed

[2022-07-27 05:55] xzxiaoshan commented on #276
Thanks

[2022-07-27 08:01] jvmusin commented on #269
@alvarosanchez Can I expect the fix in the nearest plugin release? The bug seems critical to me.

[2022-07-27 08:16] alvarosanchez commented on #269
@gradinac are you aware of changes in the agent stuff in 0.9.12+ that could be causing this?

[2022-07-27 10:35] sschuberth commented on #100
Agreed. For Gradle, that's basically the only reason why we're using https://github.com/palantir/gradle-graal in https://github.com/oss-review-toolkit/ort rather than the Gradle plugin from this repo. I'm really hoping for https://github.com/gradle/gradle/pull/18028 to land soon (it's scheduled for Gradle 7.6 currently) to address the matter generically in Gradle itself.

[2022-07-27 16:52] melix opened #277 "Value for property 'quickBuild' is final and cannot be changed any further"
If the `GRAALVM_QUICK_BUILD` environment variable is set, then calling `gradle nativeCompile` will fail with the following error:

[code]

This is caused by this line: https://github.com/graalvm/native-build-tools/blob/bed8b18e30db3f67472f8360d7cc40a5ad5acc14/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/tasks/BuildNativeImageTask.java#L175

Configuration _must not_ be changed a

[2022-08-01 22:56] mpeddada1 opened #279 "`ClassNotFoundException` when using test-jar dependency with native-maven-plugin 0.9.12 and later"
Hi all, thanks again for your amazing work!

**Describe the bug**
Using version 0.9.12 and later is resulting in `ClassNotFoundException` for classes from the `test-jar` dependency. Starting from `0.9.12` of the `native-maven-plugin`, `test-jar` dependencies stopped being included in the classpath of the `native-image` command. **However**, using  0.9.11 resulted in a successful build.

**To Repro

[2022-08-02 05:44] frank-dspeed commented on #100
what is the problem here i simply use
1. download graalvm-ce and extract
2. install native-image installs it or returns true if installed
[code]

so ensure installed is not a problem ??

[2022-08-02 07:57] zliu9125 commented on #270
Also come across this case. And I found that when adding <packaging>pom</packaging>  and other necessary spring-native plugins to the pom of pure springboot project generated at https://start.spring.io/   and then run `mvn -Pnative -DskipTests clean package` may reproduce this issue.

[2022-08-03 13:23] #271 closed

[2022-08-03 13:23] #277 closed

[2022-08-04 19:39] #275 closed

[2022-08-04 22:55] #270 closed

[2022-08-05 18:43] lazar-mitrovic commented on #273
Fixed by #274, as now we have `native:compile` goal.

[2022-08-06 07:06] snicoll commented on #273
Thanks for the update. Is the change of name last minute? I don't remember seeing this when I reviewed the PR.

I can understand why you'd want to avoid the no-fork suffix but artificially changing the name of the goal isn't a good idea IMO.

Can we please reconsider adding the build goal as it was in the PR? The arguments for it are that they're doing the same thing and having another goal is str

[2022-08-08 08:14] sdeleuze commented on #273
I also think `native:compile` is confusing and I am surprised by such change without discussion, as a consequence I reopen this issue.

To recap, we suggest to have `mvn native:build` as proposed initially for the command line, and have `native:build-no-fork` for execution configuration:
[code]
This breaking change should be mentioned in the changelog and documented.

[2022-08-08 10:36] lazar-mitrovic commented on #273
Hey, I added this change a long time ago, I saw that @snicoll commented on [this](https://github.com/graalvm/native-build-tools/pull/274#pullrequestreview-1061997352) so I thought that he noticed the change.

In the current state my change isn't breaking one. My reasoning was that we should have the same invocation
[code]
as `nativeBuild` was deprecated in Gradle a long time ago.
That way users th

[2022-08-08 11:10] sdeleuze commented on #273
I think Maven and Gradle are not using the same verb with the same meaning, thats why we chose to use compile on Gradle side and keep build on Maven side. That was on purpose.

As discussed in the PR, the breaking nature of that change is related due to Maven design, and since we are still 0.9.x, I think it is better to have the best solution given Maven limitation which is IMO the one described i

[2022-08-08 14:21] snicoll commented on #273
-1 on using compile with Maven.

I think we need to take a step back and look at what we have irrespective of the limitation or the history as we're pre 1.0. What would be the natural goal that we would pick for this task? Unless we feel that `native:build` is wrong, then I wouldn't change it.

compile isn't a great candidate for Maven. Such term usually refers to what happens to the compile phase

[2022-08-08 14:58] sdeleuze commented on #273
@snicoll I understand the rationale, but with `native:compile` (the compile goal from the native plugin) I have the feeling the contextualization is enough and would allow consistency with the Gradle plugin (like for example we try to use the same vocabulary for Spring Boot Maven and Gradle plugins).

I understand that plugins need to adapt to Maven and Gradle specificities, but with `mvn native:b

[2022-08-08 15:08] lazar-mitrovic commented on #273
I'd argue that what we are doing in this goal is actually compilation of java code to an executable file. In order to do that we are utilizing our compiler (along with our virtual machine).

As a part of our push for more streamlined nomenclature, we've dropped `image` from plugin name: `native-image-plugin` to `native-plugin`, because the concept of `image` is actually an implementation detail of

[2022-08-08 15:12] snicoll commented on #273
Thanks for the follow-up. If you think that `compile` is a better goal name for the Maven plugin, then I have no objection.

[2022-08-10 11:20] sdeleuze opened #282 "Unable to customize the metadataRepository URI with Gradle"
I tried various way of customizing the metadataRepository URI with Gradle like `uri(file("metadata-repository"))` [as documented](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#_enabling_the_metadata_repository) (with a file or a directory) but I was not able to make it working.

When debugging, in `GraalVMReachabilityMetadataService` customization of the version are taken

[2022-08-10 11:29] sdeleuze commented on #282
For some reason in `NativeImagePlugin` [here](https://github.com/graalvm/native-build-tools/blob/45a516ea4e10765c530679bbc195c58642c25d0d/native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/NativeImagePlugin.java#L318) the value returned by `repositoryExtension.getUri()` is always the default one, regardless of any customization made to the uri.

[2022-08-10 12:09] #273 closed

[2022-08-10 12:09] #279 closed

[2022-08-10 12:11] lazar-mitrovic opened #283 "Add changelog and docs about `build` -> `compile-no-fork` changes."

[2022-08-10 15:48] mfranklin1 opened #284 "Failing to build project using gradle - Task: Javadoc Failed"
I'm attempting to build the master branch to obtain a copy of native-maven-plugin:0.9.14-SNAPSHOT as I keep getting an error when using 0.9.13 due to a null pointer exception which is fixed in this snapshot. I cannot use the plugin until I track down the issue with my build and for that I need to use the latest snapshot version which I apparently cannot download from the rawgithubcontents web site

[2022-08-10 16:50] lazar-mitrovic commented on #284
Hi, can you send me the output of
[code]

[2022-08-10 17:22] mfranklin1 commented on #284
So kind of weird - I'm using openjdk17, but I have an install of openjdk11 on the box which doesn't have javadoc in the bin directory - no idea why. Anyway JAVA_HOME is set to openjdk17 and don't see any other env vars pointing at openjdk11, but gradle was using the path to the missing javadoc for some reason - it's using java 17 for the build though. So I rebooted the machine and now ./gradlew --

[2022-08-10 17:22] #284 closed

[2022-08-11 14:29] graemerocher opened #285 "nativeCompile and nativeRun always rebuild the image"
**Describe the bug**

When using nativeCompile and nativeRun a native executable is always built even if nothing has changed, it seems the inputs and outputs are not correctly configured?

**To Reproduce**

Run `./gradlew nativeCompile` twice

**Expected behavior**

If nothing has changed a native executable shoudn't be rebuilt.

**System Info (please complete the following information):**
 - OS:

[2022-08-11 16:08] lazar-mitrovic commented on #285
I'm trying the `java-application` sample at the moment with the current SNAPSHOT and it works fine.
Would you mind sharing a reproducer?

[2022-08-11 17:03] lazar-mitrovic commented on #282
I tried the following with the current SNAPSHOT:
- ``` git clone git@github.com:oracle/graalvm-reachability-metadata.git ```
- Add the following to the `build.gradle`
[code]
- Run `gradle nativeCompile` and the output will contain:
[code]

Could you share a reproducer?

[2022-08-11 23:09] #267 closed

[2022-08-11 23:09] #210 closed

[2022-08-12 14:46] cvmocanu commented on #100
@frank-dspeed, let me re-phrase your question: _"What is the point of Gradle toolchain auto provisioning?"_.
And the answer is: convenience - you checkout a git project and it just works. No need to point people to a readme file with step-by-step instructions. It just works.
That is also why we use the Gradle wrapper instead of asking everyone to install Gradle.

[2022-08-12 15:41] sdeleuze commented on #282
Hum, I can't, not sure why, sorry for the noise.

[2022-08-12 15:41] #282 closed

[2022-08-12 16:30] sdeleuze commented on #282
It was probably due to the fact we configure Gradle plugin programmatically in https://github.com/spring-projects/spring-aot-smoke-tests so nothing related to NBT.

[2022-08-13 10:53] ThraaxSession opened #287 "Graalvm 22.2.0 fails on nativeBuild for Micronaut 3.6.0"
**Describe the bug**
When I run
[code]
It seeems to be an issue with **logback**. How can I solve it?

it fails hard.

**To Reproduce**
Hard to tell what product has an issue.

**Expected behavior**
The native build works fine.

**Logs**
[code]

gradle graalvm configuration:
[code]

[code]

[code]

**System Info (please complete the following information):**
 - Windows 11
 - GraalVM Version 22.2 C

[2022-08-13 12:02] ThraaxSession commented on #287
I found the issue in the `logback.xml`
The scan feature of logback does not work as it initialize schedulers for the scan (as I think).
[code]

[2022-08-13 12:02] #287 closed

[2022-08-14 07:59] frank-dspeed commented on #100
@cvmocanu do i understand you correct your using nativ image gradle and graal with stock JDK?

[2022-08-14 11:30] cvmocanu commented on #100
@frank-dspeed: I'm using the https://github.com/palantir/gradle-graal  Gradle plugin. The plugin adds a `nativeImage` task which compiles to native binaries.
I assume the Java source->bytecode compilation is done with a stock JDK, but I'm not sure if the plugin changes the Java compiler configuration or not.

As others said, that plugin does auto-provisioning (it downloads the specified version of

[2022-08-14 11:30] cvmocanu commented on #100
I would love to use the official plugin (this one) though, instead of the palantir one.

[2022-08-15 23:13] gfmedeiros opened #288 "Test binary fails to build"
**Describe the bug**
The Maven plugin fails when when trying to build a native test binary. Building the actual binary works as expected.

**To Reproduce**
Use this [reproducer](https://github.com/gfmedeiros/graalvm-native-build-tools-bug/tree/main).

**Expected behavior**
The test binary should be built successfully.

**Logs**
[code]

**System Info (please complete the following information):**

[2022-08-16 01:24] gradinac commented on #269
Sorry for a late answer on this one, I've just come back from vacation.
I think the core issue here lies in NBT's custom metadata post-processing - the generated metadata is further filtered and entry values starting with a certain prefix are removed.
These prefixes default to `org.gradle`, `org.junit`, and the problematic one: `java`
Between 0.9.11 and 0.9.12, I've refactored the then post-proces

[2022-08-16 10:24] lazar-mitrovic commented on #288
Hi @gfmedeiros,
This issue originates from `svm.jar` missing from the classpath during the plugin run.
You should be able to easily workaround that by setting `JAVA_HOME=$GRAALVM_HOME`.

As this is not that convenient, we actually added an explicit implementation dependency on `svm.jar` in [this commit](https://github.com/graalvm/native-build-tools/commit/0bdea33ff54047ff24c7a1b5101cdd4fb72b3240).

[2022-08-16 10:24] #288 closed

[2022-08-16 10:42] #283 closed

[2022-08-16 11:48] #269 closed

[2022-08-16 11:55] lazar-mitrovic commented on #227
Since [this commit](https://github.com/graalvm/native-build-tools/pull/274/commits/150b0aaf3d00adab8519d5a8e69f97d79d267500) we are saving argument files by default inside of the project structure (under `build` or `target` depending on a build tool).

We should check it once again prior to the release, but I think that this issue is now fixed.

[2022-08-16 11:55] #227 closed

[2022-08-16 13:33] gfmedeiros commented on #288
Hi @lazar-mitrovic,

The error still happens if I point JAVA_HOME and GRAALVM_HOME to the same GraalVM JDK.

[2022-08-16 13:38] lazar-mitrovic commented on #213
Hey @matus-gazo,
Are you able to share some kind of a reproducer (or at least `verbose` level log)?
Without seeing the `native-image` invocation I doubt that anyone would be able to debug this issue.

[2022-08-16 13:47] lazar-mitrovic commented on #288
Hm that shouldn't happen...
I had a similar thing happen to me locally, and if I remember correctly it was an issue with SDKMAN installed JDKs being auto detected by Maven Toolchain support. Running `mvn` with `-X` might be useful for debugging this.

If you are able to build the latest version from `master` that would solve your problem, as we now pin both `java` executable and `sdk` dependency.

[2022-08-25 20:18] mpeddada1 commented on #279
Thank you for the really quick fix @lazar-mitrovic! Do we know when the next release is scheduled for?

[2022-09-05 05:35] sarnobat opened #292 "What is the correct command to build a native image (from any branch) with all prerequisites?"
**Describe the problem**
I cannot get the basic build of a native image with any configuration. I've tried multiple things but can't figure out what the out-of-the-box usage is. I did try using the documentation to build a sample from scratch too.

**Additional context**
I used git revision `39a1289`  (`0.9.13`) but have had trouble with the latest version too.

**System Info (please complete the

[2022-09-05 07:17] melix commented on #292
This isn't a problem with the native build tools, but a problem with your setup. The error message indicates that you are using the jgit plugin, which requires java 11. It appears you are running Gradle with Java 8. Upgrade to Java 11+ and it should fix your build.

[2022-09-05 07:17] #292 closed

[2022-09-05 12:33] sdeleuze commented on #268
`--exclude-config` is not allowed in embedded `native-image.properties` so let's reopen it, we need that for Netty 4.1.

[2022-09-05 17:16] sarnobat commented on #292
Thank you for the quick response. I eventually got this working.

Here are some notes for my future self or others who are struggling.

### Warning: you are not using JDK 8
(Can no longer reproduce this, but this was why I didn't use JDK 11)
### BuildOutputColorful option not found - solution
If you have Graal v20 previously `gu install`ed it is not sufficient to use `gu remove` and `gu install` w

[2022-09-06 10:43] nayouzhenai opened #293 "Caused by: java.nio.file.NoSuchFileException: C:\Users\zc\AppData\Local\Temp\native-image15983259600882756261args"
[INFO] ImageClasspath Entry: io.netty:netty-codec:jar:4.1.78.Final:compile (file:///C:/Users/zc/.m2/repository/io/netty/netty-codec/4.1.78.Final/netty-codec-4.1.78.Final.jar)
[INFO] Executing: C:\Program Files\Java\graalvm-ce-java17-22.1.0\bin\native-image.cmd @C:\Users\zc\AppData\Local\Temp\native-image15983259600882756261args
Error: Error reading argument file
Caused by: java.nio.file.NoSuchFile

[2022-09-14 09:02] krisfoster opened #297 "Add link to sample to the Maven and Gradle Documentation pages"
Please add a link to the samples to the documentation page for the plugins.

The docs are great, but it is easier to miss something without being able to see complete working samples.

Also, could we add comments on what versions of unit Jupiter are supported?

Thanks!

[2022-09-14 13:19] KrishnaST opened #298 "InvalidPathException: Illegal char <:> at index 153:"
Command executed   `mvn -Pnative -DskipTests package -e -X`
Packaging failed with InvalidPathException. Logs attached.
[log.txt](https://github.com/graalvm/native-build-tools/files/9566619/log.txt)

Apache Maven 3.8.6 (84538c9988a25aec085021c365c560670ad80f63)
Maven home: D:\Tools\apache-maven-3.8.6
Java version: 17.0.2, vendor: Oracle Corporation, runtime: D:\Tools\jdk-17.0.2
Default locale: en_I

[2022-09-14 14:23] lazar-mitrovic commented on #298
Fixed by https://github.com/graalvm/native-build-tools/pull/295

[2022-09-14 14:23] #298 closed

[2022-09-14 14:37] lazar-mitrovic commented on #293
Please retest using plugin version `0.9.13` and submit a reproducer.

It looks that this might be caused by permissions issue for your `%TEMP%` directory. If it is so, then it will be fixed by [this change](https://github.com/graalvm/native-build-tools/pull/274/files#diff-45f2dd0466adde99b21b98a4313076b0ad20c41980f2107382eecbde2d9996a2R274-R275) in `0.9.14`

[2022-09-14 14:42] krisfoster opened #299 "Improve the documentation relating to using the tracing agent to generate reflection config from the unit tests"
I think the documentation for the maven tool needs to be expanded. It's not super clear what the process should be using the tracing agent when you have tests and when you build a native binary. Consider the following (assumes some project using maven that has tests, uses reflection etc and has a profile for the native build tools):

// Builds the tests natively and runs them - picks up the reflec

[2022-09-15 07:57] melix opened #300 "Native Image building fails with JUnit Platform 5.9.0"
Building a Micronaut application which uses JUnit Platform 5.9.0 will fail with the following error:

[code]

A hotfix was deployed in Micronaut Test: https://github.com/micronaut-projects/micronaut-test/pull/618/files#diff-020ea83d544d7fe86f8cc9bdbcf3eba4bd2d37bb3ed842d10eae76b4bf9a3c6e

But a "real" fix needs to be implemented in `JUnitPlatformFeature`.

[2022-09-16 08:53] wilkinsona opened #301 "Tasks implementing JavaForkOptions are instrumented without using -Pagent"
**Describe the bug**

The [documentation](https://graalvm.github.io/native-build-tools/0.9.13/gradle-plugin.html#configuration-options) states:

Contrary to this, instrumentation happens without `-Pagent`.

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]

**Expected behavior**
Tasks extending `JavaForkOptions` are only instrumented when specifying `-Pagent`.

**System Info (please

[2022-09-16 09:02] melix commented on #301
This (confusing) message is already fixed. It says that tasks are instrumented, but they _would_ be instrumented if `-Pagent` was used.

https://github.com/graalvm/native-build-tools/pull/278

[2022-09-16 09:02] #301 closed

[2022-09-16 09:06] wilkinsona opened #302 "Agent instrumentation prevents the use of Gradle's configuration cache"
**Describe the bug**
When the agent instruments a task, it breaks Gradle's configuration cache.

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]

**Expected behavior**
Agent instrumentation does not prevent the use of Gradle features.

**Logs**
[configuration-cache-report.zip](https://github.com/graalvm/native-build-tools/files/9582523/configuration-cache-report.zip)

**System Info

[2022-09-16 09:22] wilkinsona opened #303 "Configuring does not work as documented"
**Describe the bug**
The documentation shows the following example for configuring the predicate:

[code]

Adapting this to disable instrumentation by returning false does not work.

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]

**Expected behavior**
Returning false for all tasks disables instrumentation for all tasks.

**System Info (please complete the following information):*

[2022-09-16 09:24] wilkinsona commented on #301
Thanks, @melix.

[2022-09-16 13:30] sbrannen commented on #300
Is this due to `OpenTestReportGeneratingListener.NAMESPACE_REGISTRY` being a `static final` field?

If so, we (the JUnit team) could instantiate the `NamespaceRegistry` lazily (on demand).

In addition, `OpenTestReportGeneratingListener` is an _optional_ listener and has to be manually enabled by setting the `junit.platform.reporting.open.xml.enabled` property to `true`. So I wonder what is enabli

[2022-09-16 13:50] marcphilipp commented on #300
@melix @gradinac Should we fix this in JUnit 5.9.1 as suggested by Sam?

[2022-09-16 14:10] sbrannen commented on #300
Never mind: I'd forgotten that `OpenTestReportGeneratingListener` will always be loaded due to the `ServiceLoader` mechanism. It's only "optional" in the sense that it's a no-op if it's not explicitly _enabled_.

[2022-09-16 15:06] sbrannen commented on #97
FYI: `@EnabledInNativeImage` and `@DisabledInNativeImage` conditions will be available out of the box beginning with [JUnit 5.9.1](https://github.com/junit-team/junit5/milestone/63).

- https://github.com/junit-team/junit5/issues/2830

[2022-09-16 15:33] sbrannen commented on #297
The supported JUnit Platform versions are already documented for [Gradle](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#testing-support) and [Maven](https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#testing-support-version-compatibility).

From that, one can infer that JUnit Jupiter 5.8 and higher is supported.

Though, explicitly stating that might pro

[2022-09-16 18:46] sbrannen commented on #300
This will be addressed in JUnit 5.9.1:

- https://github.com/junit-team/junit5/issues/3035

[2022-09-17 12:22] sbrannen commented on #300
@melix and @gradinac, when are you planning on upgrading to JUnit 5.9.x?

[2022-09-17 13:59] melix commented on #300
Micronaut itself already has upgraded to 5.9.0

[2022-09-17 17:10] sbrannen commented on #300
Sorry, I was unclear. I meant Native Build Tools when I said "you".

In other words, I'm asking when you plan to upgrade NBT to JUnit 5.9.x.

[2022-09-18 12:04] sbrannen commented on #300
If you choose to add a fix for JUnit 5.9.0, that should go in `PlatformConfigProvider`.

[2022-09-18 14:34] sbrannen commented on #300
To fix this bug, add `"org.junit.platform.reporting.open.xml.OpenTestReportGeneratingListener"` to the `buildTimeInitializedClasses` string array in `org.graalvm.junit.platform.config.platform.PlatformConfigProvider.onLoad(NativeImageConfiguration)`.

I have tested this with the following combinations.

----

## Native Build Tools 0.9.13

✅ NBT 0.9.13 :: JUnit 5.8.1
✅ NBT 0.9.13 :: JUnit 5.8.2
❌ N

[2022-09-18 14:45] sbrannen opened #305 "Classpath is duplicated in native tests, potentially with wrong versions"
When I run the `java-application-with-tests` locally I see that the classpath contains JUnit artifacts twice. In this particular case, they are the same versions.

If I change the JUnit versions to 5.9.0/1.9.0, I then see this:

So, the 5.9.0/1.9.0 versions I declared actually get used, because they are first in the classpath, but we still should not include the 5.8.1/1.9.1 versions of JUnit artif

[2022-09-18 14:47] #268 closed

[2022-09-18 14:49] sbrannen opened #306 "Polish `JupiterConfigProvider`"
The following code block:

https://github.com/graalvm/native-build-tools/blob/cb619400214c7751dae46fb93c1888751652edc0/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/config/jupiter/JupiterConfigProvider.java#L104-L109

... should be moved to `org.graalvm.junit.platform.config.jupiter.JupiterConfigProvider.onLoad(NativeImageConfiguration)` since it is not specific to a partic

[2022-09-18 19:26] KrishnaST opened #307 "No compatible toolchains found for request filter: {languageVersion=11, vendor=matching('GraalVM'), implementation=vendor-specific} (auto-detect true, auto-download true)"
**Unable to build [native-build-tools](https://github.com/graalvm/native-build-tools) from source.*
[code]

stacktrace log attached.
[log.txt](https://github.com/graalvm/native-build-tools/files/9595099/log.txt)

[2022-09-18 19:41] melix commented on #307
Please make sure to use GraalVM CE for Java 11 to build this plugin.

[2022-09-19 05:26] KrishnaST commented on #307
I was using GraalVM CE for Java 17. I will try.

[2022-09-19 05:43] KrishnaST commented on #307
same outcome with GrallVM CE for Java 11. Previously I was using GrallVM CE for Java 17

[code]

[2022-09-19 08:21] #300 closed

[2022-09-19 08:21] #302 closed

[2022-09-19 08:28] #297 closed

[2022-09-19 08:29] melix opened #309 "Upgrade to reachability metadata repository 0.2.0"

[2022-09-19 09:52] lazar-mitrovic commented on #307
Please run `gradle -q javaToolchains` in order to further diagnose the issue.

If you are using `snap`-based gradle installation you might be triggering #106.
As a workaround for that you should always use `./gradlew` from the root project.

[2022-09-19 14:39] sbrannen commented on #299
@sdeleuze, is this similar to an issue you once raised?

[2022-09-19 15:18] graemerocher commented on #176
I haven't tested without our workaround in place to be honest, will need to try

[2022-09-19 17:06] sbrannen commented on #135
Yes. @lusou-zhangquan, if you have discovered JUnit 3.8 based test cases that are not supported by the JUnit Vintage test engine, please report them to [JUnit 5](https://github.com/junit-team/junit5/issues/new/choose).

[2022-09-19 17:07] #309 closed

[2022-09-20 08:38] lazar-mitrovic commented on #305
I'm almost certain that this bug comes from this line:
https://github.com/graalvm/native-build-tools/blob/3cf049769e879840dd182a0985c3ecc55a936cc7/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeTestMojo.java#L112-L115

Here we unconditionally add JUnit version that is used in our support feature to the image building classpath. This is obviously wrong, but from my testing I f

[2022-09-20 11:24] sbrannen opened #311 "Unnecessary warning emitted when using JUnit Jupiter 5.9 with Maven plugin"
`JupiterConfigProvider` registers reflection configuration for `TimeoutExtension$ExecutorResource` as can be seen here:

https://github.com/graalvm/native-build-tools/blob/3cf049769e879840dd182a0985c3ecc55a936cc7/common/junit-platform-native/src/main/java/org/graalvm/junit/platform/config/jupiter/JupiterConfigProvider.java#L104-L109

The issue is that `TimeoutExtension$ExecutorResource` exists in

[2022-09-20 11:27] sbrannen commented on #311
Although the attempt to register reflection configuration for `TimeoutExtension$ExecutorResource` is performed defensively within a try-catch block, that defensive mechanism apparently doesn't work.

- Potentially related to #305

[2022-09-20 11:28] sbrannen commented on #305
See also:

- #311

[2022-09-20 13:51] sbrannen opened #313 "Migrate certain aspects of JUnit support to the JUnit 5 project"
## Overview

In JUnit 5.10, the JUnit team plans to provide built-in support for running tests in a GraalVM native image. See https://github.com/junit-team/junit5/issues/3040.

Consequently, some of the JUnit infrastructure in Native Build Tools may become unnecessary.

## Deliverables

- [ ] Collaborate with the JUnit team to determine what JUnit specific code in NBT can be removed (and in what t

[2022-09-20 14:10] sbrannen commented on #311
The Spring team confirmed that this does not occur with the Gradle plugin, hinting that it may well be directly related to #305.

[2022-09-21 17:51] KrishnaST commented on #307
resolved after setting JAVA_HOME pointing to GRALLVM directory and PATH to GRALLVM bin directory.

[2022-09-22 11:25] #307 closed

[2022-09-23 08:57] linghengqian opened #314 "[QUESTION] The doc doesn't document how to pass string args for mainclass"
**Describe the problem**
A clear and concise description of what the problem is.
**Make sure that you have read [the documentation](https://graalvm.github.io/native-build-tools) and that you are using the latest plugin version.**

- When starting a normal jvm application, it is sometimes necessary to pass args to the mainclass.  A similar command should be something like `java -classpath "xxx.jar:

[2022-09-23 09:10] sdeleuze commented on #299
Yes I think. There is a pretty complete documentation on https://github.com/oracle/graalvm-reachability-metadata/blob/master/docs/CollectingMetadata.md but it is on reachability metadata side and it is currently Gradle only.

@gradinac Maybe we could document this properly on NBT Gradle and Maven documentation and just point reachability metadata to the related sections of NBT documentation.

[2022-09-23 14:07] linghengqian commented on #314
- I'm a GraalVM newbie, so I was a little surprised when I saw https://github.com/graalvm/game-of-life-native .  Does the process of passing args to mainclass happen after the native image is built?  Should I close this issue then?

[code]

[2022-09-23 23:59] #306 closed

[2022-09-24 00:08] lazar-mitrovic commented on #314
When you compile a image of your java program it should behave as a drop in replacement for the `java` invocation.
That is:
[code]
should be equivalent to
[code]

If you are using the Maven plugin, setting up the execution of the resulting image is usually done using standard `exec-maven-plugin`, as shown in `samples` here:
https://github.com/graalvm/native-build-tools/blob/dda0a59820546f93fe53ffe

[2022-09-24 00:08] #314 closed

[2022-09-24 06:37] linghengqian opened #316 "[QUESTION] It looks like there is an ambiguity in the part of the documentation that configures the `classpath`"
**Describe the problem**
A clear and concise description of what the problem is.
**Make sure that you have read [the documentation](https://graalvm.github.io/native-build-tools) and that you are using the latest plugin version.**

- In https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#configuration-options, the child element of `classpath` uses `entry`.
- ![image](https://user-

[2022-09-24 07:33] linghengqian commented on #213
- I know this issue is tagged with `gradle-plugin`, but I also see this issue with `maven-plugin`. I built https://github.com/linghengqian/test-graalvm-nbt as a test, the relevant log is output via Github Actions, refer to https://github.com/linghengqian/test-graalvm-nbt/actions/runs/3117484101/jobs/5056174887 .

- I hope the strange shape of this repository won't bother too many people, because I

[2022-09-24 16:56] CRY-D opened #317 "Image build request failed"
**Describe the problem**
First, when I build a simple Hello world app, it works just fine, but when I try to build my **2.5Mb jar file** I always end up with this Error message **Error: Image build request failed with exit status 137**
just like so, any hint to overcome this obstacle?

![select-area_20220924174852](https://user-images.githubusercontent.com/16564491/192109667-db481b71-ac55-4f13-815

[2022-09-27 19:29] Bejenar opened #318 "[GR-43413] java.nio.file.InvalidPathException: Illegal char < > at index 3"
Command executed `mvn package -Dpackaging=native-image
`

 - OS: `Windows`
 - GraalVM Version  `ce-22.2.0`
 - Java Version `17`

logs:
(Although log says the path is `D:\ Java\ Micronaut Sandbox\ aws-lambda\ aws-lambda\ target\ aws-lambda-0.1.jar`, it is actually
`D:\Java\Micronaut Sandbox\aws-lambda\aws-lambda\target\aws-lambda-0.1.jar` so symbols are coming out of nowhere
[code]

 pom.xml
[code]

[2022-09-28 12:08] linghengqian commented on #299
- So, the documentation should provide a link to https://www.graalvm.org/dev/reference-manual/native-image/guides/use-native-image-maven-plugin/ ?  But from a novice point of view, the pom.xml of https://github.com/graalvm/graalvm-demos/tree/master/fortune-demo is really quite complicated.

[2022-09-28 17:28] KrishnaST opened #319 "Exception in thread "main" java.lang.IllegalStateException: No application context available after calling main method of 'com.fss.aeps.Application'. Does it run a SpringApplication?"
Error on native build for a Jakarta EE Spring Boot application.

[code]

[log.txt](https://github.com/graalvm/native-build-tools/files/9667527/log.txt)

[pom.txt](https://github.com/graalvm/native-build-tools/files/9667536/pom.txt)

<img width="668" alt="image" src="https://user-images.githubusercontent.com/9427954/192849404-dc6181ea-8ddf-4cb0-856f-f460183d63fe.png">

[2022-10-03 18:31] codeconsole opened #324 "Can't build Groovy Application"
**Converting samples/java-application to groovy fails to build**

https://github.com/codeconsole/graalvm-groovy-application

Results in:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Would expect application to build.

**Actual behavior**
[code]

**System Info (please complete the following information):**
 - OS: [e.g. `OSX`]
 - GraalVM Version [e.g. `22.2

[2022-10-04 09:23] melix commented on #324
I'm closing this since this isn't related to the plugins, but to the use of Groovy in combination with native image. Groovy is a dynamic language which, by nature, will require significant configuration. As a quick start, you may have to take a look at blogs like this one: https://e.printstacktrace.blog/graalvm-and-groovy-how-to-start/

[2022-10-04 09:23] #324 closed

[2022-10-04 18:39] codeconsole commented on #324
@melix after searching around, I figured out how to build.  The error message pasted above wasn't really that meaningful.
Why at the very least does it not display the offending class?

It would also be very useful to have a sample application to demonstrate the possibilty https://github.com/graalvm/native-build-tools/pull/325

[2022-10-05 00:52] linghengqian commented on #324
- I'm just guessing that `--no-server` and `--allow-incomplete-classpath` are deprecated and this post looks a bit old.  Apache Groovy PMC has written two great articles, maybe referenced in the native build tools docs? ⛷

[2022-10-05 10:58] alvarosanchez opened #327 "Unnecessary eager check for GraalVM installation breaks builds when using other JDKs"
#274 introduced an unnecessary eager check for a GraalVM installation:

https://github.com/graalvm/native-build-tools/blob/master/native-maven-plugin/src/main/java/org/graalvm/buildtools/maven/NativeExtension.java#L120-L124

This halts the build with the following exception:

[code]

Because this is done so early in an extension, it breaks builds even if no NBT mojo is being invoked.

The check sh

[2022-10-05 16:07] melix opened #328 "Ship repository metadata as a Maven artifact"
Currently, the plugin specifies a default version of the reachability metadata. If the user says nothing, we default to that version and try to fetch the metadata from the [repository GitHub releases page](https://github.com/oracle/graalvm-reachability-metadata/releases/).

However, the community has expressed interest in seeing that metadata published as a Maven artifact (that is to say, on Maven

[2022-10-06 05:58] sdeleuze commented on #328
I am confused by the mix between https://github.com/graalvm/native-build-tools/ and https://github.com/oracle/graalvm-reachability-metadata, how it impacts the version semantic and the groupId, and how people can know what metadata repository version is contained in let say `graalvm-reachability-metadata-0.9.14-repository.jar`.

Why can't we just keep separation of concerns and publish metadata pr

[2022-10-06 07:05] melix commented on #328
So let's step back a bit:

1. the reachability metadata is published as a zip file on the repository releases page, but teams expressed interest in seeing it as a Maven artifact on Maven Central
2. we _can't_ easily publish the metadata as a Maven artifact, for various, non technical reasons
3. an idea was to _bundle_ the metadata repository _within_ the NBT jar, to which I expressed concerns (e.g

[2022-10-06 12:32] sdeleuze commented on #328
I meant publishing then on Maven Central from metadata side but I guess you answered via "we can't easily publish the metadata as a Maven artifact, for various, non technical reasons" where you have the context and not me.

So let's move forward with your proposal with `graalvm-reachability-metadata-0.9.14-repository.jar` but let's maybe try to make it as clear as possible what version of the meta

[2022-10-12 12:11] #328 closed, assigned to melix

[2022-10-13 10:34] odrotbohm opened #333 "Maven Native Image plugin should fail if it cannot download reachability metadata"
If, for whatever reason, the reachability metadata cannot be downloaded, the console output looks as follows:

[code]

still, the build still continues and, if it succeeds, is likely to produce an invalid binary. Does it make sense to abort the build if it is configured to use the metadata repository, but cannot download it? Additionally, does it make sense to cache the information downloaded so t

[2022-10-13 21:24] Rottinator opened #334 "Maven Native Image Plugin: Support for building java modules for native image, including support for junit"
Hello there,

**Is your feature request related to a problem? Please describe.**
I've converted an application of mine into java modules and tried to build it via native maven plugin. The problem: Native maven plugin seams not support to build native image automatically via the module parameters. So i have to add all project modules and maven dependencies manually to the --module-path parameter wh

[2022-10-17 12:19] wilkinsona opened #338 "Regression with Gradle's configuration cache in 0.9.15"
**Describe the bug**
In some circumstances, a Gradle build fails when run using `--configuration-cache` due to a `Configuration` instance that's captured by a lambda in `NativeImpagePlugin`. The same build works with 0.9.14.

**To Reproduce**
Sorry, I've yet to manage to boil things down into a minimal reproducer. Hopefully the configuration cache problem report (see below) will be sufficient to d

[2022-10-17 12:59] melix commented on #338
@wilkinsona would it be possible for you to try to build and test [this branch](https://github.com/graalvm/native-build-tools/tree/cc/issue-338)?

[2022-10-17 13:46] wilkinsona commented on #338
That was quick. Thank you, @melix. That's better as the configuration cache no longer reports a problem. Unfortunately, the build still fails:

[code]

I don't see the failure with 0.9.14. It occurs with 0.9.15 and 0.9.16-SNAPSHOT.

[nbt-configuration-cache-problem.zip](https://github.com/graalvm/native-build-tools/files/9801134/nbt-configuration-cache-problem.zip) contains a reproducer that shoul

[2022-10-17 13:49] melix commented on #338
Thanks for the reproducer! :eyes:

[2022-10-17 14:32] melix commented on #338
It seems we're actually hitting a Gradle bug here :/ I'm trying to see if we can workaround.

[2022-10-17 14:43] sdeleuze opened #340 "Regression with `--exclude-config` not specified anymore with 0.9.15 on Gradle"
Based on my tests, NBT 0.9.15 Gradle plugin does not pass `--exclude-config` parameters to the `native-image` compiler anymore, breaking Netty  4 support.

It could have been cause by [this code block removal](https://github.com/graalvm/native-build-tools/pull/322/files#diff-3ca19e7e49fe64feca3a1e88279c961b56e03450666583025c711da44cfb73bbL369) but to be confirmed with @philwebb.

I am going to add

[2022-10-17 15:11] sdeleuze commented on #340
@aclement Please add your green light.

[2022-10-18 06:44] #340 closed

[2022-10-18 11:31] snicoll opened #342 "Native image executable should not be mandatory for any Maven task"
**Describe the bug**
When the native image Maven plugin is added to a project, it verifies early that `gu` is available. If it isn't, the following exception is thrown:

[code]

This happens for any command, even one that doesn't require `native-image` to be around.

**To Reproduce**
Steps to reproduce the behavior:

Add the native image plugin to your build, or enable a profile that uses it.

[co

[2022-10-18 13:11] alvarosanchez commented on #342
Isn't this the same as #327 ?

[2022-10-18 14:39] snicoll commented on #342
It could be. It's becoming even more annoying as running Cloud Native Buildpacks (that do not require GraalVM installed) does not work because of this.

[2022-10-18 14:53] #342 closed

[2022-10-19 12:46] snicoll commented on #327
A note that it should also be possible to invoke a Mojo of Native Build Tools that does not need GraalVM. `add-reachability-metadata` in particular.

[2022-10-24 09:09] sdeleuze commented on #327
I start working on this and will submit a PR.

[2022-10-24 13:07] sdeleuze opened #346 "Add a check for the minimal GraalVM version"
In order to allow users and frameworks to deal with GraalVM compatibility explicitly and provide meaningful errors to end users, Maven and Gradle plugins should allow to specify the minimal GraalVM versions supported.

[2022-10-25 09:45] sdeleuze commented on #346
I will focus for now on minimal version. See my proposal for the configuration bellow;

Maven
[code]

Gradle
[code]
For now `requireVersion` could be `MAJOR`, `MAJOR.MINOR` or `MAJOR.MINOR.PATCH` and means that the version specified and more recent will be accepted.

We can introduce later the range syntax of our choice to be able to specify upper bounds.

[2022-10-25 16:56] bitbaggi opened #347 "Failing to Build Image when using buildpacks and environment"
Hello,

i have the normal vanilla Spring Boot 3.0.0-RC1 with only org.graalvm.buildtools.native as extra plugin.
You can download it from here [Spring Initializr](https://start.spring.io/#!type=gradle-project&language=java&platformVersion=3.0.0-RC1&packaging=jar&jvmVersion=17&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo

[2022-10-26 05:49] eyasuyuki opened #348 "com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing io.netty.util.HashedWheelTimer.<init>"
I had native build error with io.netty.util.HashedWheelTimer.

[code]

then error:
[code]
**To Reproduce**

[code]

Steps to reproduce the behavior:
[code]
[code]
**Expected behavior**

To build ```keydriver-<version>.exe```.

**Logs**
[code]

**System Info (please complete the following information):**
 - OS: Windows 10 Pro 21H2
 - GraalVM Version: CE 22.2.0 (build 11.0.16+8-jvmci-22.2-b06, mixed

[2022-10-26 07:18] sschuberth opened #349 "Publish the Gradle plugin to the plugin portal"
As described [here](https://github.com/graalvm/native-build-tools/blame/a3b5f3fd8d1a64a654a4cae63867532efdf2709e/docs/src/docs/asciidoc/gradle-plugin.adoc#L47), the Gradle plugin is not yet published to the [Gradle Plugin Portal](https://plugins.gradle.org). I'm not sure what the reasons are, but the current way of [manually](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#_

[2022-10-26 09:59] sschuberth opened #350 "Unable to configure `native-gradle-plugin` project with a non-GraalVM JDK"
Because of

https://github.com/graalvm/native-build-tools/blob/9ba6220b5ac280a1ae8e195f936afd9ab5cda670/build-logic/gradle-functional-testing/src/main/groovy/org.graalvm.build.functional-testing.gradle#L77-L80

the whole `native-build-tools` project cannot even be configured in Gradle without a GraalVM. That's a bit inconvenient for first-time contributors who just want to configure / build the pr

[2022-10-26 10:01] sschuberth commented on #350
On a related note, I'm surprised about the `"GraalVM"` in

    vendor.set(JvmVendorSpec.matching("GraalVM"))

Shouldn't that be `"GraalVM Community"` to align with [what Gradle has](https://github.com/gradle/gradle/blob/306ff903de2efd5d2de1712aeced1d51f076937f/subprojects/jvm-services/src/main/java/org/gradle/internal/jvm/inspection/JvmVendor.java#L30)?

[2022-10-26 10:09] sschuberth commented on #327
I just filed a similar issue on the Gradle build file level, see https://github.com/graalvm/native-build-tools/issues/350.

[2022-10-26 10:26] sschuberth commented on #350
I just realized the same code snippet is also at

https://github.com/graalvm/native-build-tools/blob/9ba6220b5ac280a1ae8e195f936afd9ab5cda670/native-maven-plugin/build.gradle.kts#L155-L158

[2022-10-26 11:38] sdeleuze commented on #350
Does not impact Spring Boot 3 since we disable toolchain support by default, but still worth to fix if we can. We should probably have distinct launcher for native and non native tasks and configure them on demand if that's possible.

[2022-10-26 11:47] #327 closed

[2022-10-26 19:23] lost22git opened #351 "Can not find any tasks"
|env|version|
|--|--|
|os|win11 22H2|
|jdk|jdk19 GraalVM CE 23.0.0-dev|
|SpringBoot|3.0.0-RC1|
|org.graalvm.buildtools.native|0.9.16|
|gradle|distributionUrl=https\://services.gradle.org/distributions-snapshots/gradle-8.0-20220911113203+0000-bin.zip|

[code]

stacktrace
[code]

[2022-10-27 07:18] melix commented on #350
This issue is about the NBT build itself, not for users, though. At the same time I'm not sure we should encourage _not_ running functional tests ;)

[2022-10-27 07:22] melix commented on #346
What worries me, at least for Gradle, is that we're inventing a system which will interfere with the toolchain support (in other words, this belongs to the toolchain support, not the NBT configuration). I am tempted to say we should wait for the issue to be fixed by the Gradle team, so that we can reason on the "secondary" version, rather than the language version (/cc @ljacomet). Also with the me

[2022-10-27 07:24] melix commented on #351
Can you try with Gradle 7.5.1 instead of a version 8 snapshot, just to be sure? This looks oddly similar to https://github.com/gradle/gradle/issues/17559 so we might have to use the workaround I described there.

[2022-10-27 07:38] sschuberth commented on #350
I wouldn't say that being able to configure / build with non-Graal *encourages* to not run functional tests locally (and they would be run in CI as part of PRs anyway).

In any case, looking for a "Graal" vendor spec instead of "Graal Community" further complicates things, as this way one cannot just point the `org.gradle.java.installations.paths` Gradle property to a GraalVM CE installation for [

[2022-10-27 07:55] melix commented on #350
Can you clarify why `Graal` doesn't work for you? It's an _include_ spec, so `GraalVM Community` _includes_ the term `Graal`. It is typically picked up here, from sdkman.

[2022-10-27 08:16] melix commented on #347
At first glance this looks like an issue for the Spring plugin, not the native build tools.

[2022-10-27 09:04] sschuberth commented on #350
Looks like [you're right](https://github.com/gradle/gradle/blob/fbe9699332c66d9dc7d28aaa4982f7ffc7aab81a/subprojects/platform-jvm/src/main/java/org/gradle/jvm/toolchain/internal/DefaultJvmVendorSpec.java#L34-L36). I was first looking at the wrong code in `DefaultJvmVendorSpec` (and didn't just try it out).

[2022-10-27 10:21] alvarosanchez commented on #350
GraalVM should be used to work on this project's build.

[2022-10-27 10:52] sschuberth commented on #350
Out of curiosity, can you also provide an objective reason for this?

[2022-10-27 14:36] sdeleuze commented on #346
It may not make sense when the OpenJDK integration is complete, and this is GraalVM specific so not sure Gradle toolchain should deal with that as a first class concern, but there are concrete needs for this today and next year at least.

[2022-10-27 14:47] lost22git commented on #351
Same error messages after trying with Gradle 7.5.1 : )

[2022-10-27 16:12] alvarosanchez commented on #350
This project is about providing build tooling support for creating native executables. It has quite some tests that use GraalVM Native Image, and then make assertions out of that. Writing tests (and obviously, running the existing ones) is the way we use to ensure everything works (and nothing else breaks).

I see your point about first-time contributors, but honestly, if they managed to install a

[2022-10-27 16:16] sdeleuze commented on #347
This is indeed probably an issue that need to be raised on https://github.com/spring-projects/spring-boot/issues.
Looks like your `environment` override remove the one done programmatically by Spring Boot.

[2022-10-27 16:16] #347 closed

[2022-10-27 16:28] sschuberth commented on #350
At least it will get easier when https://github.com/graalvm/native-build-tools/issues/100 gets resolved, so I'll close this.

[2022-10-27 16:28] #350 closed

[2022-10-27 16:31] alvarosanchez commented on #350
You should check [this](https://medium.com/graalvm/one-line-graalvm-jdk-downloads-91ee8d4e6ffd)

[2022-10-27 16:33] sschuberth commented on #350
Thanks, but I'm really just interested in letting Gradle bootstrap it.

[2022-10-27 20:20] Delux4life opened #352 "Native"
React Native!!!!

[2022-10-28 05:28] #352 closed

[2022-10-28 14:31] sdeleuze opened #354 "Upgrade to reachability metadata repository 0.2.4"
Should contain:
 - https://github.com/oracle/graalvm-reachability-metadata/issues/86
 - https://github.com/oracle/graalvm-reachability-metadata/pull/96
 - https://github.com/oracle/graalvm-reachability-metadata/pull/94
 - https://github.com/oracle/graalvm-reachability-metadata/pull/93

[2022-10-31 07:09] #346 closed

[2022-11-01 11:26] sschuberth commented on #100
Just wondering, could the work on this topic for the Gradle plugin already start now that Gradle 7.6 RC1 [added support for Java Toolchain downloads from arbitrary repositories](https://docs.gradle.org/7.6-rc-1/release-notes.html#added-support-for-java-toolchain-downloads-from-arbitrary-repositories), despite https://github.com/gradle/gradle/pull/18028 not being merged yet?

[2022-11-01 12:24] frank-dspeed commented on #100
i guess this gets solved as most of the graalvm parts get moved now to stock openjdk

[2022-11-02 15:53] jamesward opened #357 "Add Gradle Toolchain Support"
I'm using:
[code]

And have a Gradle toolchain configured:
[code]

And I get:
[code]

It'd be awesome if the Gradle Native plugin worked together with Gradle Toolchains.

[2022-11-02 15:59] graemerocher commented on #357
We would like to, but we need the Gradle team's help. See https://github.com/gradle/gradle/pull/18028

[2022-11-04 08:35] kristofdho commented on #318
I'm seeing the same thing on my end, but with the native-build-tools directly (without micronaut layer in between). This is caused by having a space on your path (anywhere, it reports it at index 3 every time). Through the build tools there are no additional spaces in the reported path.

Adding `<useArgFile>false</useArgFile>` to the plugin config fixes it if your path isn't too long and you don't

[2022-11-04 08:56] gotson opened #358 "Maven native-test failing with No instances of org.junit.platform.launcher.core.ServiceLoaderRegistry are allowed in the image heap as this class should be initialized at image runtime"
**Describe the problem**
I have an issue when running native tests with the Maven plugin and JUnit 5.9.1. I am not sure if i am doing something wrong, so any help would be appreciated!

Running `mvn -Pnative test` fails with the following:

[code]

<details>
<summary>Full stack trace</summary>

[code]
</details>

My understanding was that the plugin was handling some specific JUnit support, which

[2022-11-09 20:35] shoaniki commented on #338
This isn't a showstopper by any means, but it is causing a certain amount of pain -- we've recently put some effort into fixing our build to support the configuration cache, and this is one of the few issues preventing us turning it on globally.

Just realised as I was typing this that #339 hasn't been merged yet – is it worth trying with that patch, or are the Gradle problems more deep-rooted tha

[2022-11-11 14:08] moiflo033 opened #359 "Cannot parse GraalVM Version when running gradle nativeCompile task"
**Describe the bug**
When running the gradle nativeCompile task there is an exception that the version string cannot be parsed.
The reason appears to be that a `\r` is left after stripping line endings that prevent the regex from working.
I verified that assumption by removing the trailing `\r` with the debugger before the regex gets matched.
The issue apperas to be this line:
https://github.com/g

[2022-11-14 07:45] melix commented on #338
The patch isn't enough. There are other problems arising which have no solution yet in Gradle.

[2022-11-14 08:15] mkubec opened #361 "reflect-config.json file not listing classes loaded dynamically via Javascript execution"
**Describe the bug**
Configuration file reflect-config.json generated by executing java with
[code]
doesn't contain java classes dynamically loaded by Javascript.

**To Reproduce**
Compile following code:
[code]

Run:
[code]
reflect-config.json contains just following classes:
[code]
It's missing Java class loaded by Javascript via Java.type() - class UUID and methods randomUUID() and toString().

[2022-11-14 13:51] sdeleuze opened #362 "Upgrade to reachability metadata repository 0.2.5"

[2022-11-15 10:09] shoaniki commented on #338
That's disappointing, but good to know, thank you.
(Are there any relevant Gradle issues I can follow?)

[2022-11-15 13:46] sdeleuze commented on #318
I can reproduce with Gradle as well on Windows. Pretty strange issue, I suspect an underlying bug in `native-image` argfile handling, so we may need to open an issue in https://github.com/oracle/graal/issues.

[2022-11-15 14:07] sdeleuze opened #363 "Do not escape quoted regexp args when using argsfile"
Otherwise, it breaks `\Q...\E` arguments passed after `--exclude-config`.

Notice usage in Windows directories with spaces is broken by #318 but that's unrelated.

[2022-11-15 19:10] artemik opened #365 "Fix SNAPSHOTS repository"
Please fix SNAPSHOTS repository. Currently (and it's mentioned in the docs) `https://raw.githubusercontent.com/graalvm/native-build-tools/snapshots` doesn't work.

For example, the latest SNAPSHOT is critical to get the latest GraalVM 22.3.0 working, which was fixed in https://github.com/graalvm/native-build-tools/pull/364

[2022-11-16 08:24] melix commented on #365
We're having reliability issues with the SNAPSHOT repository. Note that the fix you mention is not merged yet, so having the SNAPSHOT repo wouldn't help.

However, if you are using Gradle, you may have luck trying the [includegit Gradle plugin](https://melix.github.io/includegit-gradle-plugin/latest/index.html) which would let you build from sources by adding this to your `settings.gradle` file:

[2022-11-16 09:23] mhalbritter opened #366 "Detect and disable colored output"
NBT should respect the `console` option / color auto-detection from Gradle.

If i run a build like this:

[code]

my `build.txt` is full of ANSI color codes, which makes the output of `native-image` quite unreadable.

I found there is `-H:±BuildOutputColorful` so the NBT plugins should set this to reflect the gradle / maven detection of colored output.

NBT version: 0.9.17
Native Image version: 22

[2022-11-16 16:40] #363 closed

[2022-11-17 09:37] #362 closed

[2022-11-17 10:54] mhalbritter opened #368 "Doc for excluding metadata from reachability metadata repo is wrong"
https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#_configuring_the_metadata_repository

[code]

doesn't work. It's

[code]

[2022-11-17 12:45] #368 closed

[2022-11-23 08:37] sschuberth commented on #357
Note that according to @melix's [comment](https://github.com/gradle/gradle/pull/18028#issuecomment-1266657213) "The PR, in itself, is irrelevant though" now that Gradle 7.6 added support for Java Toolchain downloads from arbitrary repositories, also see this [comment](https://github.com/graalvm/native-build-tools/issues/100#issuecomment-1298381682) of mine.

[2022-11-23 08:38] sschuberth commented on #100
I'm not sure whether it's worth waiting for that to happen in a new JDK release. Releasing a new plugin version that's able to bootstrap GraalVM with native image support now seems to be the much lower hanging fruit.

[2022-11-23 09:35] sschuberth commented on #100
That, however, is not what *I* wanted to say 😉 : Adding a few lines of Kotlin / Java code to implement a [toolchain resolver plugin](https://docs.gradle.org/7.6-rc-4/userguide/toolchain_plugins.html) is quicker than waiting for a new JDK release, and much more generic / self-contained than requiring developers to run an external script.

[2022-11-23 09:53] frank-dspeed commented on #100
@sschuberth i make it even more generic i am working on a https://google.github.io/blockly-samples/plugins/block-dynamic-connection/test/ graalvm build tool ok it is not related to graalvm but it can build graalvm and that is in my view the most generic as it runs generic in my browser and is able to execute it directly else where or save it to a local file.

[2022-11-24 14:31] melix opened #371 "Using `runtimeArgs` causes the _compile_ task to be out of date"
Changing the _runtime arguments_ of the native image extension will cause the _compilation_ of the image to be out-of-date. This is a problem because runtime args should only be used... at runtime.

A possible solution is to rework the inputs of the task so that it doesn't use the extension directly.

[2022-11-25 15:02] melix opened #373 "Default metadata repository isn't downloaded from Maven Central"
If the user doesn't configure a metadata repository version **and** doesn't configure a specific URL, we should download the metadata repository from Maven Central (or, more specifically, from the repositories declared in the build).

Unfortunately, there are a couple places where the metadata repository service can be registered, and one of those places doesn't set the correct URL.

I think this

[2022-11-28 09:08] huangxiuqi commented on #318
The same problem, if replace all \\ in the args file with /, and then run native-image.cmd @target\tmp\native-image-xxx.args, it can be compiled normally.

[2022-11-28 18:26] #371 closed